<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
 </head>
  <body>
    <div class="manage">
    <div class="container service">
    <div class="row row-cols-1 row-cols-md-2 g-1 core">
      <!--column-->
        <div class="col">
          <a routerLink="/businessapplication"><h4>Business Application Development</h4></a>
          <hr>
          <a routerLink="/managedinfrastructure"><h4>Managed Infrastructure Services</h4></a>
          <hr>
          <a routerLink="/databasemanagement"><h4>Database Management Services</h4></a>
          <hr>
          <a routerLink="/cloudtransformation"><h4>Cloud Transformation Services</h4></a>
          <hr>
          <a routerLink="/manageditservices"><h4>Managed IT Services</h4></a>
          <hr>
          <a routerLink="/migrationstabilization"><h4>Migration and Stabilization Services</h4></a>
          <hr>
          <a routerLink="/digitaltransformation"><h4>Digital Transformation</h4></a>
        </div>
        <!--column-->
        <div class="col">
          <div class="card">
            <div class="manager">
            <h1 class="title">Digital Transformation</h1>
            <p class="paragraph">Our mission at SNAD Developers is to provide innovative, cutting-edge solutions to our clients that help them stay ahead of the competition. 
            We are dedicated to providing the best possible service and customer experience.</p>
            <a class="button" type="button">Learn More</a>
          </div>
            </div>
        </div>
    </div>
  </div>
</div>

        
  </body>
</html>