<header
  style="
    font-family: Poppins, sans-serif;
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    width: 100%;
    z-index: 1000;
    padding: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  "
>
  <div
    class="container"
    style="
      max-width: 85rem;
      padding: 0 rem;
      margin: 0 auto;
      margin-top: rem;
      margin-bottom: rem;
      display: flex;
      position: relative;
    "
  >
    <input
      type="checkbox"
      name=""
      id="check"
      style="width: 2.5rem; height: 2.5rem"
    />

    <div
      class="logo-container"
      style="
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: baseline;
        margin-left: 1rem;
        z-index: 1001;
      "
    >
      <a href="home" class="logo"
        ><img
          alt=""
          class="logo"
          src="../assets\SNAD Horizontal Logo Main.png"
          width="150"
          height="60"
      /></a>
    </div>

    <div
      class="nav-btn"
      style="
        flex: 3;
        display: flex;
        justify-content: baseline;
        text-align: center;
      "
    >
      <div class="nav-links">
        <ul>
          <li class="nav-link dnon sr" style="--i: 0.6s"></li>
          <li class="nav-link" style="--i: 0.6s">
            <a href="/home">Home</a>
          </li>

          <li class="nav-link" style="--i: 0.85s">
            <a href="/about">About</a>
          </li>
          <li class="nav-link" style="--i: 1.1s">
            <a href="/services"
              >Services
              <i
                ><svg
                  class="arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                  /></svg></i
            ></a>
            <div class="dropdown db card">
              <ul style="display: block">
                <li class="dropdown-link">
                  <a href="#">Business Application Development</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Managed infrastructure Services</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Database management Services<i></i></a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Cloud Transformation Services</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Managed IT Services </a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Migration and Stabilization Services</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Digital Transformation</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-link" style="--i: 1.35s">
            <a href="/careers">Careers</a>
          </li>
          <li class="nav-link" style="--i: 1.35s">
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </div>
      <div class="log-sign" style="--i: 0.6s">
        <a
          href="/contactus"
          class="btn transparent"
          style="
            display: inline-block;
            padding: 0.8rem 1.3rem;
            font-size: 1rem;
            border-radius: 2rem;
            margin-left: 4rem;
            transition: 0.3s;
            font-weight: 600;
          "
          >Get In Touch</a
        >
      </div>
    </div>

    <div class="hamburger-menu-container">
      <div
        class="hamburger-menu"
        style="
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-radius: 1px soild blue;
        "
      >
        <div></div>
      </div>
    </div>
  </div>
</header>
