<p>careers page</p>

<!--core values-->
<div class="container">
 <div class="row row-cols-1 row-cols-md-3 g-4">
  <!--column-->
  <div class="col">
    <div class="card">
      <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b404ea4cd082_image-1-services-startup-x-template.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
   <!--column-->
  <div class="col">
      <div class="card">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4f2ca4cd117_image-2-services-startup-x-template.svg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
          </div>
      </div>
  </div>
   <!--column-->
  <div class="col">
      <div class="card">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b472394cd080_image-3-services-startup-x-template.svg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
          </div>
      </div>
  </div>
   <!--column-->
  <div class="col">
      <div class="card">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4cf3b4cd083_image-4-services-startup-x-template.svg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
          </div>
      </div>
  </div>
   <!--column-->
   <div class="col">
     <div class="card">
        <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b44e684cd085_image-5-services-startup-x-template.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
        </div>
      </div>
    </div>
 <!--column-->
 <div class="col">
   <div class="card">
      <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b46f7a4cd084_image-6-services-startup-x-template.svg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
      </div>
   </div>
  </div>
 </div>
</div>
<br>
<br>
<br>
<br>

<!--Company perks-->

<div class="container">
 <div class="row row-cols-1 row-cols-md-2 g-4">

    <!--column-->
  <div class="col">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4bb554cd09e_icon-1-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--c0lumn-->
    <div class="col">
      <div class="card mb-3" style="max-width: 650px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4545d4cd0a1_icon-2-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--c0lumn-->
    <div class="col">
      <div class="card mb-3" style="max-width: 650px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4a0e04cd09f_icon-3-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--c0lumn-->
    <div class="col">
      <div class="card mb-3" style="max-width: 650px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b426ff4cd0a0_icon-4-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--column-->
  <div class="col">
    <div class="card mb-3" style="max-width: 650px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4bb554cd09e_icon-1-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--c0lumn-->
    <div class="col">
      <div class="card mb-3" style="max-width: 650px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4545d4cd0a1_icon-2-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

 </div>
</div>

<br>
<br>
<br>
<!--All Job Openings-->
<div class="ring">
  <h3></h3>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">

    <!--column-->
  <div class="col">
    <div class="mb-3" style="max-width: 650px;">
      <div class="row g-0">
        <div class="col-md-4">
          <div class=" number">1</div>
        </div> 
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--c0lumn-->
    <div class="col">
      <div class="mb-3" style="max-width: 650px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class=" number">2</div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--c0lumn-->
    <div class="col">
      <div class="mb-3" style="max-width: 650px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class=" number">3</div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--c0lumn-->
    <div class="col">
      <div class="mb-3" style="max-width: 650px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class=" number">4</div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>

</div>
</div>



<!--Growth-->
<div class="growth">
  <br>
  <br>
<div class="row">
  <div style="text-align: center;">
    <h4>Growth</h4>
    <h1>How our employees have grown with us</h1>
   </div>
   <div class="col-lg-3 col-md-4 mb-4">
    <h1>98<span style="color: blue">%</span></h1>
    <div style="text-align: center;">
    <h4>Customer satisfaction</h4>
  </div>
   </div>
   <div class="col-lg-3 col-md-4 mb-4">
    <h1>205<span style="color: blue">M</span></h1>
    <div style="text-align: center;">
    <h4>Monthly active users</h4>
  </div>
   </div>
   <div class="col-lg-3 col-md-4 mb-4">
    <h1>100<span style="color: blue">k</span></h1>
    <div style="text-align: center;">
    <h4>New users per week</h4>
  </div>
   </div>
   <div class="col-lg-3 col-md-4 mb-4">
    <h1>55<span style="color:blue">%</span></h1>
   <div style="text-align: center;">
    <h4>Growth year-over-year </h4>
   </div>
  </div>
</div>
   <br>
   <br>
   <br>

<!--Open positions-->

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">

    <!--column-->
    <div class="col ">
      <div class="card opening pop" style="max-width: 600px;">
        <div class="card-body matter">
          <h5 class="card-title pop">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
          <a href="#" class="card-link"  type="button" class="btn btn-light button pop">Card link</a>    
          <a href="#" class="card-link"  type="button" class="btn btn-light button margin pop">Another link</a>
        </div>
      </div>
    </div>
     

      <!--column-->
     <div class="col">
      <div class="card opening" style="max-width: 600px;">
        <div class="card-body matter">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
          <a href="#" class="card-link"  type="button" class="btn btn-light button">Card link</a>    
          <a href="#" class="card-link"  type="button" class="btn btn-light button margin">Another link</a>
        </div>
      </div>
     </div>

      <!--column-->
     <div class="col">
      <div class="card opening" style="max-width: 600px;">
        <div class="card-body matter">
          <h5 class="card-title ">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
          <a href="#" class="card-link"  type="button" class="btn btn-light button">Card link</a>    
          <a href="#" class="card-link"  type="button" class="btn btn-light button margin">Another link</a>
        </div>
      </div>
      </div>

      <!--column-->
     <div class="col">
        <div class="card opening" style="max-width: 600px;">
         <div class="card-body matter pop">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
          <a href="#" class="card-link"  type="button" class="btn btn-light button">Card link</a>    
          <a href="#" class="card-link"  type="button" class="btn btn-light button margin">Another link</a>
         </div>
       </div>
     </div>
  </div>
</div>

<!--Image content-->



<div class="container-fluid ima">
  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="Norway" style="width:100%;">
  <div class="text-block">
    <h4>Nature</h4>
    <p>What a beautiful sunrise</p>
  </div>
</div>
<div>
  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="Norway" class="val">
</div>

