/* header image */

.header{
  height: 100vh;
 }

 .img-background{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  width: auto;
  height:auto;
  z-index: -1;
 }

@media (min-aspect-ratio:16/9) {
  .img-background {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .img-background {
    width: auto;
    height: 100%;
  }
}

.text-content {
  color: white;
  margin-left: 5%;
  margin-top: 8%;
}

.text {
  font-size: 50px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  -webkit-box-align: center;
}

.smalldash {
  width: 100%;
  max-width: 60px;
  min-height: 2px;
  margin-right: 25px;
  background-color: #fff;
}

.header-text{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.08em;
}

/* scroll top button */

.scroll-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  background-color: #2f5acd;
}

/* CORE VALUES */

.core-value-column{
  margin: 5%;
}

.core-value-card{
  border-radius: 20px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 10px 10px 0 rgba(114, 114, 115, 0.05);
}

.core-value-text{
  padding: 50px 30px;
}

/* company perks */

.company-perk-header{
  margin-top: 20%;
  margin-bottom:5%;
}

.company-perk-column{
  margin: 5%;
}

.company-perk-card{
  padding: 50px 25px;
  border-radius: 20px;
}

.open-position-button{
 margin: 5% 0%;
 text-align: center;
}

.open-position{
  border-radius: 40px;
  padding: 20px 40px;
  border-color: #2f5acd;
  color: white;
  background-color: #2f5acd;
}

.open-position:hover{
  background-color: black;
  color: #2f5acd;
}

/* ALL JOB OPENING */

.all-job-div{
   background-color: #2f5acd;
}

.all-job-open{
  margin-left: 5%;
  margin-right: 5%;
}

.all-job-header{
  padding-left: 40px;
}

.number {
  height: 120px;
  line-height: 120px;
  width: 120px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 100%;
  background-color: white;
  color: black;
  text-align: center;
  cursor: pointer;
  background-color:  #dbe8fd;
}

.all-job-number{
  padding-left: 40px;
}

.all-job-opening-button{
  padding: 20px 40px;
  border-radius: 40px;
  float:right;
}

.all-job-opening-button:hover{
  background-color: #0981BD;
  border: #0981BD;
}


.all-job-opening-text{
  color: #edf1fd;
}

/* GROWTH */

.growth-div{
  background-color: #edf1fd;
}

.growth{
  margin-left: 2%;
  margin-right: 2%;
}



/* OPEN POSITION STYLINGS */

/* multi button */

.multiple-button{
  padding: 16px;
 }
 
 .button-card{
   border-radius: 50px;
   background-color: #eaeaf6;
   float: right;
 }
 
 .buttons{
   padding: 12px 25px;
   border-radius: 30px;
   background-color: white;
   color: black;
   border-style: solid;
   border-width: 1px;
   border-color: #c9e3e2;
   box-shadow: 0 10px 10px 0 rgb(41 44 50 / 3%);
 }
 
 .buttons:hover{
   background-color:#2f5acd;
   color: white;
 }
 
/* open position card */

.open-position-header{
  margin:5%
}

.open-position-div{
  margin: 5%;
}

.open-positions-Card{
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #c9e3e2;
  box-shadow: 0 10px 10px 0 rgb(41 44 50 / 3%);
  margin-bottom: 2%;
}

.open-positions-Card:hover{
  border-color: blue;
  transform: translate(0, -10px);
  
}

.open-positions-body{
  padding:40px 40px;
}

.open-positions-button{
  border-radius: 25px;
  padding:10px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #c9e3e2;
  box-shadow: 0 10px 10px 0 rgb(41 44 50 / 3%);
  margin-bottom: 5%;
}

.open-position-button-gap{
  margin-left: 2%;
}


/* GET IN TOUCH */

.get-in-touch {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
}

.position {
  font-size: 20px;
}

.get-in-touch-button{
  border-radius: 40px;
  padding: 20px 40px;
  border-color: black;
}

.get-in-touch-button:hover {
  transform: translate(0, -8px);
  border-color: blue;
  color: blue;
}

