<section class="header " data-aos="fade-up">
  <div class="concept">
  <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4645e4ccfc4_image-home-v3-hero-startup-x-template-p-2000.jpeg" class="img-background">
</div>
  <div class="text-content">

    <b><p class="text" data-aos="fade-up">The most transparent <br>& Secured banking ever</p></b>
    <p data-aos="fade-up">Lorem ipsum dolor sit amet consectetur adipiscing elit.<br>
       Consectetur tortor nunc aliquam consectetur semper augue at
      </p>
  </div>
</section>

<!-- //Perks -->
<div class="container" data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="500"
     data-aos-duration="500">
  <h6>COMPANY PERKS</h6>
  <h1><b>The great perks of working <br> at Startuper X</b></h1>
 <div class="row row-cols-1 row-cols-md-2 g-4 core">

    <!--column-->
  <div class="col" data-aos="fade-up">
    <div class="card mb-3 perk" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4bb554cd09e_icon-1-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--column-->
  <div class="col" data-aos="fade-up">
    <div class="card mb-3 perk" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4bb554cd09e_icon-1-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--column-->
  <div class="col" data-aos="fade-up">
    <div class="card mb-3 perk" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4bb554cd09e_icon-1-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--c0lumn-->
    <div class="col" data-aos="fade-up-right">
      <div class="card mb-3 perk">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4545d4cd0a1_icon-2-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--c0lumn-->
    <div class="col" data-aos="fade-up">
      <div class="card mb-3 perk">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4a0e04cd09f_icon-3-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--c0lumn-->
    <div class="col" data-aos="fade-up">
      <div class="card mb-3 perk">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b426ff4cd0a0_icon-4-company-perks-startup-x-template.svg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

 </div>
</div>
<!-- //imactful numbers -->
<div class="growth" data-aos="fade-up">
  <div class="container" data-aos="fade-up">
   <br>
   <br>
   <br>
   <br>
     <div style="text-align: center;" class="impact">
       <h4>Growth</h4>
       <h1>How our employees have grown with us</h1>
       <br>
      </div>
   <div class="row row-cols-1 row-cols-md-4 g-4 ">
    <!--column-->
    <div class="col num">
     <h1>98<span>%</span></h1>
     <div style="text-align: center;">
     <h4>Customer satisfaction</h4>
     </div>
     </div>
 
     <!--column-->
     <div class="col num">
       <h1>205<span >M</span></h1>
       <div style="text-align: center;">
       <h4>Monthly active users</h4>
     </div>
     </div>
 
      <!--column-->
    <div class="col num">
     <h1>100<span >k</span></h1>
     <div style="text-align: center;">
     <h4>New users per week</h4>
   </div>
   </div>
  
 
    <!--column-->
    <div class="col num">
     <h1>55<span >%</span></h1>
    <div style="text-align: center;">
     <h4>Growth year-over-year </h4>
    </div>
   </div>
 
    </div>
    <br>
   <br>
   <br>
   <br>
   <br>
   </div>
  </div>

  <!-- //our clients -->
  <div class="our" data-aos="fade-up">
   <div class="clients">

      <h3>Our Clients</h3>
      <h1>Brands that trusts for text needs</h1>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-5 " >
           <!--c0lumn-->
        <div class="col">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
        </div>

         <!--c0lumn-->
         <div class="col">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
          </div>
           <!--c0lumn-->
        <div class="col">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
          </div>
           <!--c0lumn-->
        <div class="col">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
          </div>
           <!--c0lumn-->
        <div class="col">
           <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
          </div>

          <!--c0lumn-->
        <div class="col">
           <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
          </div>
  
           <!--c0lumn-->
           <div class="col">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
            </div>
             <!--c0lumn-->
          <div class="col">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
            </div>
             <!--c0lumn-->
          <div class="col">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
            </div>
             <!--c0lumn-->
          <div class="col">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
            </div>
         
            <!--c0lumn-->
        <div class="col">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
          </div>
  
           <!--c0lumn-->
           <div class="col">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
            </div>
             <!--c0lumn-->
          <div class="col">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
            </div>
             <!--c0lumn-->
          <div class="col">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
            </div>
             <!--c0lumn-->
          <div class="col">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg" alt="">
            </div>

      </div>

    </div>
  </div>

  </div>
