<section class="header" data-aos="fade-up">
  <!-- <div class="concept">
    <img
      src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4645e4ccfc4_image-home-v3-hero-startup-x-template-p-2000.jpeg"
      class="img-background"
    />
  </div>
  <div class="text-content">
    <div class="contact" data-aos="fade-up">
      <div class="smalldash"></div>

      <div class="us">INSPIRED TO HELP</div>
    </div>

    <b>
      <p class="text" data-aos="fade-up">
        The most transparent <br />& Secured banking ever
      </p>
    </b>
    <p data-aos="fade-up">
      Lorem ipsum dolor sit amet consectetur adipiscing elit.<br />
      Consectetur tortor nunc aliquam consectetur semper augue at
    </p>
  </div> -->
  <app-heroimg [heros]="heroimage"></app-heroimg>
</section>

<!-- //Perks -->
<app-servicescards [service]="service" ></app-servicescards>

<!-- //imactful numbers -->
<app-impactfullnumbers></app-impactfullnumbers>

<!-- //our clients -->
<div class="our" data-aos="fade-up">
  <div class="clients">
    <h3>{{client.subtitle}}</h3>
    <h1>{{client.title}}</h1>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-5">
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>

        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>

        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>

        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>

        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>

        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
        <!--c0lumn-->
        <div class="col">
          <img
            src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b42edb4cd129_startuper-x-webflow-template-logo.svg"
            alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <br />
  <h6 class="color">{{case.subtitle}}</h6>
  <h3 class="center">{{case.title}}</h3>
</div>
<!-- slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner container">
    <div class="carousel-item active" *ngFor="let cases of casestudy">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ cases.name }}</h2>
          <br />
          <p>{{ cases.description }}</p>
          <h3>{{ cases.numbers }}</h3>
          <h6>{{ cases.subtextfornumber }}</h6>
        </div>

        <div class="col-md-6">
          <div class="img-box">
            <img src="{{ cases.image.url }}" class="pic-one" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- join our team  -->
<div class="flex-container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-center" style="
    background-color: rgb(41, 91, 230);
    text-align: center;
    color: white;
    margin-top: 180px;
    padding: 150px 0;
  ">
  <div class="row">
    <div class="col-6">
      <h1 class="text-center"><b>Are you the one with vision to change the world?</b></h1>

    </div>

    <div class="col-6">

      <button class="get"><b>Get started</b></button>

    </div>
  </div>
</div>
<!-- testimonials -->

<div class="start">
  <br />
  <h1 class="color">Testimonials</h1>
  <h3 class="center">Don’t take our word for it. Watch </h3>
  <h3 class="center">Watch what our happy clients say </h3>
  
</div>

<div id="carouselExampleControl" class="carousel slide" data-bs-ride="carousel" data-aos="fade-up">
  <div class="carousel-inner container">
    <div class="carousel-item active" >
      <div class="row">
        <div class="col-md-6 col-sm-2">
          <div class="img-box ">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4fce84ccff7_image-careers-testimonials-startup-x-template-p-800.jpeg" class="pic-one" />
          </div>
        </div>
        <div class="col-md-6">
          <h2>“Working for Startuper X has been nothing short of an incredible experience”</h2>
          <br />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eque dolor ipsum odio justo amet, urna, auctor dolor ist amenor.</p>
          <h3></h3>
          <h6></h6>
        </div>

        
      </div>
    </div>
    <div class="carousel-item active" >
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4fce84ccff7_image-careers-testimonials-startup-x-template-p-800.jpeg" class="pic-one" />
          </div>
        </div>
        <div class="col-md-6">
          <h2>“Working for Startuper X has been nothing short of an incredible experience”</h2>
          <br />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eque dolor ipsum odio justo amet, urna, auctor dolor ist amenor.</p>
          <h3></h3>
          <h6></h6>
        </div>

        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" style="color: black" data-bs-target="#carouselExampleControl"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark arrow2" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Get in touch cta -->
<div class="growthbackground">
  <div style="text-align:center ;" data-aos="fade-up"><br><br><br>
    <h1 style="color: white;">Get in Touch CTA</h1><br>
    <!-- <a href="/contactus" type="button" class="btn btn-light light">Get in touch</a>--->
    <button class="get"><b>Get started</b></button>
    <br><br><br>
    <br>
  </div>
  <!-- <div class="circle crc"></div>  -->

  <div class="circle circle-lg">
    <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc…b4420c4ccfd3_shape-1-cta-3-startup-x-template.svg"
      class="w-h-100" alt="...">
  </div>
  <!-- <div><img
      src=" https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b443b44ccfb5_shape-2-cta-2-startup-x-template.svg"
      class="des"></div>  -->

</div>

<br>



<app-testimonials></app-testimonials>
<app-latestarticles></app-latestarticles>
