
    <header>
      <div class="container">
          <input type="checkbox" name="" id="check">
          
          <div class="logo-container">
              <a href="" class="logo"
              ><img alt="" class="logo" src="../assets\SNAD Horizontal Logo Main.png" width="150" height="60"
            /></a>
          </div>

          <div class="nav-btn ">
              <div class="nav-links">
                  <ul>
                      <li class="nav-link d-sm-block d-md-none" style="--i: .6s">
                        <a href="" class="logo"
                        ><img alt="" class="logo" src="../assets\SNAD Horizontal Logo Main.png" width="150" height="60"
                      /></a>
                      </li>
                      <li class="nav-link" style="--i: .6s">
                        <a href="#">Home</a>
                    </li>
                      
                      <li class="nav-link" style="--i: .85s">
                          <a href="#">About<i class="fas fa-caret-down"></i></a>
                      </li>
                      <li class="nav-link" style="--i: 1.1s">
                          <a href="#">Services<i class="fas fa-caret-down"></i></a>
                          <div class="dropdown">
                              <ul>
                                  <li class="dropdown-link">
                                      <a href="#">Business Application Development</a>
                                  </li>
                                  <li class="dropdown-link">
                                      <a href="#">Managed infrastructure Services</a>
                                  </li>
                                  <li class="dropdown-link">
                                      <a href="#">Database management Services<i class="fas fa-caret-down"></i></a>
                                  </li>
                                  <li class="dropdown-link">
                                      <a href="#">Cloud Transformation Services</a>
                                  </li>
                                  <li class="dropdown-link">
                                    <a href="#">Managed IT Services
                                    </a>
                                </li>
                                <li class="dropdown-link">
                                  <a href="#">Migration and Stabilization Services</a>
                              </li>
                              <li class="dropdown-link">
                                <a href="#">Digital Transformation</a>
                            </li>
                                  <div class="arrow"></div>
                              </ul>
                          </div>
                      </li>
                      <li class="nav-link" style="--i: 1.35s">
                          <a href="#">Careers</a>
                      </li>
                      <li class="nav-link" style="--i: 1.35s">
                          <a href="#">Blog</a>
                      </li>
                  </ul>
              </div>
              <div class="log-sign" style="--i: .6s">
                  <a href="#" class="btn transparent">Get In Touch</a>   
              </div>
          </div>

          <div class="hamburger-menu-container">
              <div class="hamburger-menu">
                  <div></div>
              </div>
          </div>
      </div>
  </header>
 

