* {
  padding: 0;
  box-sizing: border-box;
}

.c {
  background: linear-gradient(
    90deg,
    #edf1fd 0%,
    #edf1fd 53%,
    #2f5acd 40%,
    #2f5acd 100%
  );
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  -webkit-box-align: center;
}

.lorem {
  font-size: 1.2rem;
  font-weight: 480;
  color: #4c4d4e;
  margin-bottom: 3rem;
}

.contactnum {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
}

.card {
  border: none;
}

.user-details h4 {
  color: blue;
}

.user-details span {
  text-align: left;
}
.inputs label {
  display: flex;
  margin-left: 3px;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 4px;
}
.inputs input {
  font-size: 14px;
  height: 40px;
  border: 1px solid #ced4da;
}
.inputs input:focus {
  box-shadow: none;
  border: 1px solid blue;
}
.about-inputs label {
  display: flex;
  margin-left: 3px;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 4px;
}
.inputs textarea {
  font-size: 14px;
  height: 100px;
  border: 2px solid #ced4da;
  resize: none;
}

.inputs textarea:focus {
  box-shadow: none;
  border: 1px solid blue;
}

.about-inputs textarea:focus {
  box-shadow: none;
}
.btn {
  font-weight: 600;
}
.btn:focus {
  box-shadow: none;
}
input.ng-invalid.ng-toched {
  border: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* stylen */

/* .stylen {
  font-size: 3rem;
  font-weight: 750;
}

.styles {
  font-size: 1.4rem;
  font-weight: 750;
}


.we {
  font-size: 2.5rem;
  font-weight: 65 0;
} */

input,
input::-webkit-input-placeholder {
  font-size: 1.1rem;
  color: #424040;
  font-weight: 400;
}

textarea,
::-webkit-input-placeholder {
  font-size: 1.1rem;
  color: #424040;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 990px) {
  .c {
    background: linear-gradient(
      180deg,
      #edf1fd 0%,
      #edf1fd 58%,
      #2f5acd 40%,
      #2f5acd 100%
    );
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

/*  

.future-image-section {
  background-image: url("https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4645e4ccfc4_image-home-v3-hero-startup-x-template-p-2000.jpeg");
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.usa {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.smalldasha {
  width: 100%;
  max-width: 60px;
  min-height: 2px;
  margin-right: 25px;
  background-color: #fefefe;
}

.herocon {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.herotx {
  color: white;
  line-height: 2.5rem;
}
*/
