<!-- hero section -->
<app-heroimg [heros]="heroimage"></app-heroimg>
<!-- <div class="container-fluid">
  <div class="future-image-section d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-7 d-flex flex-column justify-content-center p-4"
        >
          <div class="contact">
            <div class="smalldasha"></div>
            <div class="usa">INSPIRIED TO HELP</div>
          </div>
          <div class="mb-2 mt-1">
            <h1 class="herocon">The most trainsparent & secure bnaking ever</h1>
          </div>
          <div>
            <h4 class="herotx">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Similique, laboriosam sit inventore cumque modi,
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid c">
  <div class="container p-4">
    <div
      class="row d-flex flex-row justify-content-evenly align-items-center p-4"
      style="margin-top: 5rem"
    >
      <!-- contact information -->
      <div class="col-sm-10 col-md-12 col-lg-5 p-2" data-aos="fade-up">
        <div class="contact">
          <div
            style="
              width: 100%;
              max-width: 60px;
              min-height: 2px;
              margin-right: 25px;
              background-color: #2f5acd;
            "
          ></div>
          <div
            style="
              color: #2f5acd;
              font-size: 20px;
              font-weight: 600;
              letter-spacing: 0.08em;
            "
          >
            {{ contact.subtitle }}
          </div>
        </div>
        <div>
          <h1>{{ contact.title }}</h1>
        </div>
        <div>
          <p class="lorem">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae unde
            cupiditate praesentium libero at impedit, nobis architecto aut
            eaque. Nostrum dolorem ex rerum, earum ad maxime omnis distinctio
            beatae hic! -->
            {{ contact["detailed-text"] }}
          </p>
        </div>
        <div class="contact mb-5" *ngFor="let cont of contact.refdata">
          <div
            style="
              color: white;
              padding: 2px;
              border-radius: 50px;
              background-color: rgb(91, 86, 86);
              overflow: hidden;
            "
          >
            <img src="{{ cont.iconimage.url }}" />

            <!-- <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              fill="currentColor"
              class="bi bi-envelope-at-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"
              />
              <path
                d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"
              />
            </svg> -->
            <!-- {{contact.iconimage.url}} -->
          </div>
          <div class="ms-4 contactnum">
            {{ cont.shorttext }}
          </div>
        </div>
        <!-- <div class="contact mt-4">
          <div
            class=""
            style="
              color: white;
              padding: 15px;
              border-radius: 50px;
              background-color: rgb(91, 86, 86);
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-telephone-outbound-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </div>
          <div class="ms-4 contactnum">(415) 870 - 3204</div>
        </div> -->
      </div>

      <!-- contact form -->
      <ng-container *ngIf="a">
        <div
          data-aos="fade-up"
          class="col-sm-12 col-md-12 col-lg-7 p-4 mt-5"
          style="position: relative; margin-top: 4rem"
        >
          <div style="position: relative">
            <img
              src=" https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b443b44ccfb5_shape-2-cta-2-startup-x-template.svg"
              class="des"
            />
          </div>
          <form
            name="contactform"
            #contactForm="ngForm"
            (ngSubmit)="contactForm.valid && contactSubmit(contactForm)"
          >
            <div class="card rounded-4 shadow p-4 text-center">
              <div class="row">
                <div class="col-md-12 col-lg-6 p-4" style="position: relative">
                  <div class="inputs input-group">
                    <input
                      type="text"
                      id="firstname"
                      class="form-control p-4"
                      type="text"
                      placeholder="Firstname"
                      name="firstname"
                      required
                      #firstname="ngModel"
                      [(ngModel)]="contactformd.firstname"
                      pattern="[a-zA-Z].*"
                      style="font-size: 1.2rem; font-weight: 400"
                    />
                    <span
                      class="input-group-text p-1"
                      style="
                        background-color: white;
                        color: rgb(151, 146, 146);
                        font-size: 30px;
                      "
                      id="basic-addon2"
                      ><i class="bi bi-person"></i
                    ></span>
                  </div>

                  <div
                    *ngIf="
                      (firstname.invalid && firstname.touched) ||
                      (firstname.invalid && contactForm.submitted)
                    "
                    class="alert"
                  >
                    <div
                      *ngIf="firstname.errors?.['required']"
                      class="form-text text-danger text-start"
                    >
                      Enter Your Nmae
                    </div>
                    <div
                      *ngIf="firstname.errors?.['pattern']"
                      class="form-text text-danger text-start"
                    >
                      First Name start with Alphabet
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6 p-4">
                  <div class="inputs input-group input-group">
                    <input
                      type="email"
                      class="form-control p-4"
                      placeholder="Email"
                      ngModel
                      email
                      required
                      #email="ngModel"
                      name="email"
                      pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      [(ngModel)]="contactformd.email"
                      style="font-size: 1.2rem; font-weight: 400"
                    />
                    <span
                      class="input-group-text p-1"
                      style="
                        background-color: white;
                        color: rgb(151, 146, 146);
                        font-size: 30px;
                      "
                      id="basic-addon2"
                      ><i class="bi bi-at"></i
                    ></span>
                  </div>
                  <div
                    class="text-start form-text text-danger"
                    *ngIf="
                      (email.invalid && email.touched) ||
                      (email.invalid && contactForm.submitted)
                    "
                  >
                    Please Enter valid email
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 p-4">
                  <div class="inputs input-group">
                    <input
                      type="number"
                      class="form-control p-4"
                      placeholder="Enetr Phone number"
                      ngModel
                      required
                      name="mobile"
                      #mobile="ngModel"
                      pattern="^((\\+91-?)|0)?[0-9]{10}$"
                      minlength="10"
                      id="mobile"
                      [(ngModel)]="contactformd.mobile"
                      style="font-size: 1.2rem; font-weight: 400"
                    />
                    <span
                      class="input-group-text p-1"
                      style="
                        background-color: white;
                        color: rgb(151, 146, 146);
                        font-size: 30px;
                      "
                      id="basic-addon2"
                      ><i class="bi bi-telephone"></i
                    ></span>
                  </div>

                  <div
                    *ngIf="
                      (mobile.invalid && mobile.touched) ||
                      (mobile.invalid && contactForm.submitted)
                    "
                    class="alert"
                  >
                    <div
                      *ngIf="mobile.errors?.['required']"
                      class="form-text text-danger text-start"
                    >
                      Contact Number is required
                    </div>
                    <div
                      *ngIf="mobile.errors?.['pattern']"
                      class="form-text text-danger text-start"
                    >
                      Please enter a valid contact number
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 p-4">
                  <div class="inputs input-group">
                    <input
                      type="text"
                      class="form-control p-4"
                      type="text"
                      placeholder="Organisation"
                      ngModel
                      required
                      name="organisation"
                      #organisation="ngModel"
                      [(ngModel)]="contactformd.organisation"
                      style="font-size: 1.2rem; font-weight: 400"
                    />
                    <span
                      class="input-group-text p-1"
                      style="
                        background-color: white;
                        color: rgb(151, 146, 146);
                        font-size: 30px;
                      "
                      id="basic-addon2"
                      ><i class="bi bi-journals"></i
                    ></span>
                  </div>
                  <div
                    div
                    class="text-start form-text text-danger"
                    *ngIf="
                      (organisation.invalid && organisation.touched) ||
                      (organisation.invalid && contactForm.submitted)
                    "
                  >
                    Please Enter organisation
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 p-4">
                  <div class="inputs input-group">
                    <input
                      type="text"
                      class="form-control p-4"
                      type="text"
                      placeholder="Country"
                      ngModel
                      required
                      name="country"
                      #country="ngModel"
                      [(ngModel)]="contactformd.country"
                      style="font-size: 1.2rem; font-weight: 400"
                    />
                    <span
                      class="input-group-text p-1"
                      style="
                        background-color: white;
                        color: rgb(151, 146, 146);
                        font-size: 30px;
                      "
                      id="basic-addon2"
                      ><i class="bi bi-geo-alt"></i
                    ></span>
                  </div>
                  <div
                    div
                    class="text-start form-text text-danger"
                    *ngIf="
                      (country.invalid && country.touched) ||
                      (country.invalid && contactForm.submitted)
                    "
                  >
                    Please Enter country
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 p-4">
                  <div class="inputs input-group">
                    <input
                      type="text"
                      class="form-control p-4"
                      type="text"
                      placeholder="Service interested"
                      ngModel
                      required
                      name="service"
                      #service="ngModel"
                      [(ngModel)]="contactformd.service"
                      style="font-size: 1.2rem; font-weight: 400"
                    />
                    <span
                      class="input-group-text p-1"
                      style="
                        background-color: white;
                        color: rgb(151, 146, 146);
                        font-size: 30px;
                      "
                      id="basic-addon2"
                      ><i class="bi bi-laptop"></i
                    ></span>
                  </div>
                  <div
                    div
                    class="text-start form-text text-danger"
                    *ngIf="
                      (service.invalid && service.touched) ||
                      (service.invalid && contactForm.submitted)
                    "
                  >
                    Please Enter service
                  </div>
                </div>
                <div class="col-md-12 p-4">
                  <div class="inputs">
                    <input
                      class="form-control p-4"
                      type="text"
                      placeholder="How can We Help You?"
                      ngModel
                      required
                      name="text"
                      #text="ngModel"
                      [(ngModel)]="contactformd.text"
                      style="font-size: 1.2rem; font-weight: 400"
                    />
                  </div>
                  <div
                    class="text-start form-text text-danger"
                    *ngIf="
                      (text.invalid && text.touched) ||
                      (text.invalid && contactForm.submitted)
                    "
                  >
                    Please Enter text
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 p-4">
                  <div class="inputs">
                    <textarea
                      type="message"
                      class="form-control p-4"
                      placeholder="What's Your Message"
                      ngModel
                      required
                      name="message"
                      #message="ngModel"
                      [(ngModel)]="contactformd.message"
                      style="font-size: 1.2rem; font-weight: 400"
                    >
                    </textarea>
                  </div>
                  <div
                    class="text-start form-text text-danger"
                    *ngIf="
                      (message.invalid && message.touched) ||
                      (message.invalid && contactForm.submitted)
                    "
                  >
                    Please Enter message
                  </div>
                </div>
              </div>
              <div class="mt-3 gap-2 d-flex justify-content-start">
                <button
                  class="px-3 btn btn-lg btn-primary p-3 rounded-pill"
                  type="submit"
                >
                  Send message
                </button>
              </div>
            </div>
          </form>
        </div></ng-container
      >

      <!-- success messgae -->

      <ng-container *ngIf="b">
        <div class="col-sm-12 col-md-12 col-lg-7 p-4 mt-5" data-aos="fade-up">
          <div class="row card rounded-4 shadow p-4 text-center">
            <div
              class="col-md-12 col-lg-6 p-4"
              style="position: relative; min-height: 50vh; width: 100%"
            >
              <div class="mb-2">
                <h1>Thanks For Contact us</h1>
              </div>
              <div class="mt-5 mb-2 pt-4 pb-4 bg-light">
                <h3 style="line-height: 5rem">
                  Your message has been submitted. We will get back to you
                  within 24-48 hours.
                </h3>
              </div>
              <div>
                <button
                  class="btn btn-primary ps-5 pe-5 pt-2 pb-2 mt-5"
                  (click)="showform()"
                >
                  <h3>ok</h3>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-impactfullnumbers [numbers]="impactfull"></app-impactfullnumbers>

<!-- numbers 

<div
  class="container-fluid pt-5 pb-5"
  style="background-color: #2f5acd; color: white; margin-top: -50px"
>
  <div class="container align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 text-center mt-4 mb-3 pt-5 pb-3">
        <h1 class="we">We have impactful numbers</h1>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 text-center mt-4 mb-5 ps-2 pe-2 pb-4"
      >
        <h1 class="p-4 stylen">98%</h1>
        <h3>Customer Satisfaction</h3>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 text-center mt-4 mb-5 ps-2 pe-2 pb-4"
      >
        <h1 class="p-4 stylen">98%</h1>
        <h3 class="styles">Monthly active users</h3>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 text-center mt-4 mb-5 ps-2 pe-2 pb-4"
      >
        <h1 class="p-4 stylen">98%</h1>
        <h3 class="styles">New users per week</h3>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 text-center mt-4 mb-5 ps-4 pe-4 pb-4"
      >
        <h1 class="p-4 stylen">98%</h1>
        <h3 class="mb-4 styles">Growth year-over-year</h3>
      </div>
    </div>
  </div>
</div>-->

<!-- latest articals -->
