<p>jobrequirment works!</p>
<div class="back">
   <a><h5>&#x2190; Back to all Jobs</h5></a>
</div>
<div class="container-fluid req">
    <div class="row">
              
  <div class="card job">
       <div class="row row-cols-1 row-cols-md-1 g-4">
        <!--column-->
        <div class="col">
         <div class="">
          <div class="card-body">
            <h2><b>Junior Frontend Developer</b></h2>
            <br>
            <a href="#" class="card-link"  type="button" class="btn btn-light button pop">Card link</a>    
            <a href="#" class="card-link"  type="button" class="btn btn-light button margin pop">Another link</a>
           </div>
         </div>
         <hr>
        </div>

    <!--column-->
    <div class="col">
        <div class="">
         <div class="card-body">
           <h1>Junior Frontend Developer</h1>
           <br>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
   
     <!--column-->
     <div class="col">
        <div class="">
         <div class="card-body">
           <h1>Junior Frontend Developer</h1>
           <br>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>

   
     <!--column-->
     <div class="col">
        <div class="">
         <div class="card-body">
           <h1>Junior Frontend Developer</h1>
           <br>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <br>
           <a type="button" class="btn btn-primary btn-lg but">Apply Now</a>
          </div>
         
        </div>
     </div>
    </div>
  </div>
        

     <!--column-->
     <div class="col">

  <div class="card cred" style="width: 22rem;">
    <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b461fd4cd0a2_icon-career-apply-startup-x-template.svg" class="img-fluid rounded-start img" alt="..." width="120" height="120">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <br>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <br>
      <div class="text-center">
      <a type="button" class="btn btn-primary btn-lg but">Apply Now</a>
    </div>
    </div>
  </div>
     
  </div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<!--More Job Openings-->
<div class="container req">
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <!--column-->
      <div class="col ">
      <h2><b>More job openings</b></h2>
      </div>
        <!--column-->
      <div class="col ">
        <a type="button" class="btn btn-primary btn-lg flt">Apply Now</a>
      </div>
      
      <!--column-->
      <div class="col ">
        <div class="card opening pop" style="max-width: 600px;">
          <div class="card-body matter">
            <h5 class="card-title pop">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <br>
            <a href="#" class="card-link"  type="button" class="btn btn-light button pop">Card link</a>    
            <a href="#" class="card-link"  type="button" class="btn btn-light button margin pop">Another link</a>
          </div>
        </div>
      </div>
       
        <!--column-->
       <div class="col">
        <div class="card opening pop" style="max-width: 600px;">
          <div class="card-body matter">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <br>
            <a href="#" class="card-link"  type="button" class="btn btn-light button">Card link</a>    
            <a href="#" class="card-link"  type="button" class="btn btn-light button margin">Another link</a>
          </div>
        </div>
       </div>

    </div>
  </div>
  <br>
  <br>
  <br>

