
<br><br>
<hr>
<br><br><br>


<div class="container"  data-aos="fade-up" data-aos-anchor-placement="top-center"  >
    <div class="row">
      <div class="col col-12  col-sm-12 col-md-6 col-lg-6 col-xxl-6"><h1 class="h1left">Finance Articles</h1></div>
      <div class="col col-12  col-sm-12 col-md-6 col-lg-6 col-xxl-6">
        <div class="bg">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" class="b1">

          <a [routerLink]="['/blog']" routerLinkActive="router-link-active" >
          <!-- <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked> -->
          <label class="btn btn-outline-primary left" for="btnradio1">  <b> All</b>  </label>
          </a>
  
          <a [routerLink]="['/businessarticles']" routerLinkActive="router-link-active" >
            
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary " for="btnradio2"><img src="/assets/br.png" alt="Bootstrap" width="32" height="32"><b>Business</b></label>
          </a>
        
        
          <a [routerLink]="['/financearticles']" routerLinkActive="router-link-active" >
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary btclr" for="btnradio3"><img src="/assets/fin.png" alt="Bootstrap" width="32" height="32"><b>Finances</b></label>
          </a>
  
          <a [routerLink]="['/managementarticles']" routerLinkActive="router-link-active" >
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio4"><img src="/assets/m.png" alt="Bootstrap" width="32" height="32"><b>Management</b></label>
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>

  
  
<div class="i2">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" data-aos="fade-up" data-aos-anchor-placement="top-center" >
          <a href="./readarticle">
           <div class="card" >
            <img src="assets/bt4.jpeg" class="card-img-top" alt="..." class="zoom">
            <button class="btn" class="butstyl"> <b>Business</b></button>
    
            <div class="card-body">
              <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                  <br>
                  <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
            </div>
           </div>
        </a>
        </div>
      
  
     
      <div class="col"  data-aos="fade-up" data-aos-anchor-placement="top-center" >
        <a href="./readarticle">
        <div class="card" >
          <img src="assets/b1.jpeg" class="card-img-top" alt="..." class="zoom" >
          <button class="btn" class="butstyl"> <b>Management</b></button>
  
          <div class="card-body">
            <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                <br>
                <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
          </div>
        </div>
      </a>
      </div>
   </div>   