<section class="sec d-flex flex-column justify-content-center">
  <div class="text-center">
    <div class="">
      <img
        alt=""
        class="logo"
        src="../assets\SNAD Horizontal Logo Main.png"
        width="280rem"
        height="100rem"
      />
    </div>
    <div>
      <div>
        <div class="text-center">
          <h1 class="num">404</h1>
        </div>
        <h2 class="text-center">Oops! Page Not Found</h2>
        <p class="text-center">The Link You Followed Doesn't Exit</p>
        <div class="text-center">
          <button class="p-3 gobtn">Go Back Home</button>
        </div>
      </div>
    </div>
  </div>
</section>
