<div class="container" >
  <br><br><br><br><br>
  <div class="card" >
      <br><br>
 <div class="" >
  <div class="row g-0">
    <div class="col-md-4" >
      <img src="https://thumbs.dreamstime.com/b/happy-office-worker-eyeglasses-working-online-wearing-writing-laptop-132561399.jpg" 
       width="180" height="180"  class="rounded-circle img"  alt="Cinque Terre">
      
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">John Carter</h5>
        <h5 class="card-title" style="color:blue">CEO & Founder</h5>
        
        <div class="networks">
          <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur <br> 
          adipiscing elit viverra fusce augue dignissim quis <br> nisl non 
          penatibus etiam nisi nunc mauris sed id.</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card-body">
  <h5 class="card-title"><b>About
      John Carter </b> </h5>
  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
       Massa sed elementum tempus egestas sed sed risus pretium quam. Amet
       nulla facilisi morbi tempus iaculis urna. Et malesuada fames ac turpis
       egestas. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper
        morbi.</p>
</div>
<div class="card-body">
  <h5 class="card-title"><b >Past experience</b></h5>
  <p class="card-text">Velit sed ullamcorper morbi tincidunt ornare massa 
      eget volutpat est velit egestas dui id ornare arcu. Facilisis sed odio
       morbi quis commodo. Vitae proin sagittis nisl rhoncus mattis rhoncus.
       Nunc scelerisque viverra mauris in. Vitae suscipit tellus mauris a.
       Purus in massa tempor nec feugiat nisl pretium fusce id. Nunc sed velit
        dignissim sodales.</p>
</div> 
</div>
</div> 

<br><br><br><br><br><br>
<hr>


<br><br><br><br><br><br>

<div class="">
  <h2>Articles by John Carter<button type="button" class="btn btn-primary" >Browse all articles</button></h2>
<br>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
      <div class="">
          <img src="https://media.istockphoto.com/id/1369199911/photo/portrait-of-a-handsome-young-businessman-working-in-office.jpg?s=612x612&w=0&k=20&c=fRFcgB0qERJq7Pb-3fjrYUcQr1h6wEf-nMfXftaYPyM=" class="card-img-top" alt="...">
          <div class="card-body">
              <br>
              <h5 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h5>
              
          </div>
          <div class="card-footer">
              <small class="text-muted">John Carter -- May14,2021</small>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="">
          <img src="https://media.istockphoto.com/id/1369199911/photo/portrait-of-a-handsome-young-businessman-working-in-office.jpg?s=612x612&w=0&k=20&c=fRFcgB0qERJq7Pb-3fjrYUcQr1h6wEf-nMfXftaYPyM=" class="card-img-top" alt="...">
          <div class="card-body">
              <br>
              <h5 class="card-title">How to save money - 8 simple ways to start saving money every month</h5>
          </div>
          <div class="card-footer">
              <small class="text-muted">John Carter -- May14,2021</small>
          </div>
          
      </div>
  </div>
</div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <hr>

































  