<div class="back">
  <div class="container">
    <br><br><br><br><br>
    <div class="card" data-aos="fade-up">
      <br><br>
      <div class="">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{profile['team-profile-picture'].url}}" width="180" height="180" class="rounded-circle img"
              alt="Cinque Terre">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{profile.name}}</h5>
              <h5 class="card-title" style="color:blue">{{profile['team-job-title']}}</h5>

              <div class="networks">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
              </div>
              <p class="card-text">{{profile['team-about-summary']}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-body">
        <h5 class="card-title"><b>About John Carter </b> </h5>
        <p class="card-text" id="app"></p>
      </div>
      <div class="card-body">
        <h5 class="card-title"><b>Past experience</b></h5>
        <p class="card-text" id="des"></p>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
<hr>
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col col-12  col-sm-12 col-md-6 col-lg-6 col-xxl-6">
      <h1 class="h1left">Articles by
        John Carter</h1>
    </div>
    <div class="col col-12  col-sm-12 col-md-6 col-lg-6 col-xxl-6">
      <div class="bg">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" class="b1">
          <a [routerLink]="['/blog']" routerLinkActive="router-link-active">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary left btdes" for="btnradio1"> <b> Browse all articles</b> </label>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <app-browsearticles></app-browsearticles>
  <hr>
