<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
 </head>
  <body>
    <div>
        <a routerLink="/businessapplication"><h1 >Business Application Development</h1></a>
        <a routerLink="/managedinfrastructure"><h1 >Managed Infrastructure Services</h1></a>
        <a routerLink="/databasemanagement"><h1 >Database Management Services</h1></a>
        <a routerLink="/cloudtransformation"><h1 >Cloud Transformation Services</h1></a>
        <a routerLink="/manageditservices"><h1 >Managed IT Services</h1></a>
        <a routerLink="/migrationstabilization"><h1 >Migration and Stabilization Services</h1></a>
        <a routerLink="/digitaltransformation"><h1 >Digital Transformation</h1></a>
    
    </div>
     <div class="container py-3">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-6 mx-auto">
                        <div class="card">
                            <h1 class="title">Managed Infrastructure Services</h1>
                            <p class="paragraph">Our mission at SNAD Developers is to provide innovative, cutting-edge solutions to our clients that help them stay ahead of the competition. 
                            We are dedicated to providing the best possible service and customer experience.</p>
                            <button class="button">Learn More</button>
                                
                                              
       </div>
     </div>
   </div>
  </div>
        
  </body>
</html>
