<div class="growth" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
      <br>
      <br>
      <br>
      <br>
      <div style="text-align: center;" class="impact">
        <h4>Growth</h4>
        <h1>How our employees have grown with us</h1>
        <br>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4 ">
        <!--column-->
        <div class="col num">
          <h1>98<span>%</span></h1>
          <div style="text-align: center;">
            <h4>Customer satisfaction</h4>
          </div>
        </div>
  
        <!--column-->
        <div class="col num">
          <h1>205<span>M</span></h1>
          <div style="text-align: center;">
            <h4>Monthly active users</h4>
          </div>
        </div>
  
        <!--column-->
        <div class="col num">
          <h1>100<span>k</span></h1>
          <div style="text-align: center;">
            <h4>New users per week</h4>
          </div>
        </div>
  
  
        <!--column-->
        <div class="col num">
          <h1>55<span>%</span></h1>
          <div style="text-align: center;">
            <h4>Growth year-over-year </h4>
          </div>
        </div>
  
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
