<!-- sri -->

<!-- numbers -->

<div
  class="container-fluid pt-5 pb-5"
  style="
    background-color: #2f5acd;
    color: white;
    margin-top: -50px;
    overflow: hidden;
  "
>
  <div class="container align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 text-center mt-4 mb-3 pt-5 pb-3">
        <h1 class="we">{{numbers.title}}</h1>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 text-center mt-4 mb-5 ps-2 pe-2 pb-4"
       *ngFor="let number of numbers.refdata" >
        <h1 class="p-4 stylen">{{number.shorttext}}{{number.role}}</h1>
        <h3 class="styles">{{number.description}}</h3>
      </div>
      <!-- <div
        class="col-sm-12 col-md-6 col-lg-3 text-center mt-4 mb-5 ps-2 pe-2 pb-4"
      >
        <h1 class="p-4 stylen">98%</h1>
        <h3 class="styles">Monthly active users</h3>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 text-center mt-4 mb-5 ps-2 pe-2 pb-4"
      >
        <h1 class="p-4 stylen">98%</h1>
        <h3 class="styles">New users per week</h3>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 text-center mt-4 mb-5 ps-4 pe-4 pb-4"
      >
        <h1 class="p-4 stylen">98%</h1>
        <h3 class="mb-4 styles">Growth year-over-year</h3>
      </div> -->
    </div>
  </div>

  <div style="position: relative">
    <img
      src=" https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b443b44ccfb5_shape-2-cta-2-startup-x-template.svg"
      class="des"
    />
  </div>
</div>

<!--  -->

<!-- <div class="growth" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
      <br>
      <br>
      <br>
      <br>
      <div style="text-align: center;" class="impact">
        <h4>Growth</h4>
        <h1>How our employees have grown with us</h1>
        <br>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4 "> -->
<!--column-->
<!-- <div class="col num">
          <h1>98<span>%</span></h1>
          <div style="text-align: center;">
            <h4>Customer satisfaction</h4>
          </div>
        </div>
   -->
<!--column-->
<!-- <div class="col num">
          <h1>205<span>M</span></h1>
          <div style="text-align: center;">
            <h4>Monthly active users</h4>
          </div>
        </div> -->

<!--column-->
<!-- <div class="col num">
          <h1>100<span>k</span></h1>
          <div style="text-align: center;">
            <h4>New users per week</h4>
          </div>
        </div> -->

<!--column-->
<!-- <div class="col num">
          <h1>55<span>%</span></h1>
          <div style="text-align: center;">
            <h4>Growth year-over-year </h4>
          </div>
        </div> -->

<!-- </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div> -->
