.stylen {
  font-size: 3rem;
  font-weight: 750;
}

.styles {
  font-size: 1.4rem;
  font-weight: 750;
}

.we {
  font-size: 2.5rem;
  font-weight: 65 0;
}

.impact {
  color: white;
}
.growth {
  background-color: #2f5acd;
}
.num {
  text-align: center;
  color: white;
}
