.container-fluid {
  color: white;

  background: linear-gradient(to bottom,#2f5acd 0%, #2f5acd 100%) no-repeat;
  background-size: calc(200%) calc(80%);
  background-position: top;
}

.hero {
  padding-top: 10%;
  font-size: 40pt;
}
.headerimg{
  width: 100%; 
  border-radius: 35px;
}

.profilealign {
  border-radius: 35px;
  border-top: 0ch;
  border-bottom: 0ch;
  border-left: 0ch;
  border-right: 0ch;
  /* margin-left: 200px; */
  
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align:center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 3%;
  }
  
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.networks{
     font-size: 8pt;
     margin-top: 1px;
     margin-right: 2px;
     top:0;
     right:0;
}
a:hover,
a:focus,.profilebig:hover,.profilebig:focus{
  text-decoration:  #454eda;
  /* color: #454eda; */
  border-color: #454eda;
}
h4:hover,h4:focus{
  text-decoration:  #454eda;
  color: #454eda; 
 
}
a {
  color: black;
  text-decoration: none;
}


.profilebig{
  
  
  padding: 9% 9%;
  border-radius: 30px;
  /* width: 100%; */
  justify-content: center;
  max-width: 800px;
 }

 .profile-image{
  width: 100%;
  height: 100%;
  min-width: auto;
  min-height: auto;
 
  
} *
.names{
  padding-top:6% ;
}


  .butstyl {
    position: absolute;
    top: 29px;
    right: 29px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1000px;
    background-color: #fff;
    box-shadow: 0 6px 15px 0 rgba(30, 61, 96, 0.03);
    color: #494a4d;
    font-size: 16px;
    line-height: 1.125em;
    font-weight: 700;
  }
.browsearticles{
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 35px;
}
.zoom:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.075);
  transform: scale(1.019);
  overflow: hidden;
  border-radius: 25px;
}
.browsearticles:hover,

.browsearticles:focus {
  color: rgb(46, 48, 180);
  text-decoration: none;
}



@media only screen and (max-width: 650px) {
  .container-fluid {
    color: white;
  
    background: linear-gradient(to bottom,#2f5acd 0%, #2f5acd 100%) no-repeat;
    background-size: calc(200%) calc(80%);
    background-position: top;
    
  }
  .container-fluid h1{
    font-size: 35px;
  }
  .container-fluid h5{
    font-size: 19px;
    letter-spacing: 1px;
  }
 .col-3,.col-2{
  width: max-content;
 }
}

@media only screen and (max-width: 950px){
  .col-3,.col-2{
    width: max-content;

  }
}
@media screen and (max-width: 991px){
  .butstyl {
    top: 20px;
    right: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 479px){
  .butstyl {
    top: 15px;
    right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  
}