.container-fluid {
  color: white;

  background: linear-gradient(to bottom,#2f5acd 0%, #2f5acd 100%) no-repeat;
  background-size: calc(200%) calc(80%);
  background-position: top;
}

h1 {
  padding-top: 10%;
  font-size: 40pt;
}
.headerimg{
  width: 64%; 
  border-radius: 35px;
}

.profilealign {
  border-radius: 35px;
  border-top: 0ch;
  border-bottom: 0ch;
  border-left: 0ch;
  border-right: 0ch;
  margin-left: 200px;
  
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align:center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 3%;
  }
  
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.networks{
     font-size: 8pt;
     margin-top: 1px;
     margin-right: 2px;
     top:0;
     right:0;
}
a:hover,
a:focus {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.btdes {
  border-radius: 10px;
  color:white;
  border-color: whitesmoke;
  background-color: #454eda;
  text-align: center;
  width: 200px;
  margin-top: 100px;
  padding: 20px;
  margin-left: 410px;
  border-radius: 35px;
} 
.profilebig{
  
  margin-left: 32%;
  margin-right: 32%;
  /* padding: 8% 8%; */
  border-radius: 30px;
 }

.profile-image{
  width: 80%;
  height: 80%;
  min-width: auto;
  min-height: auto;
  margin: 20px 20px;
}
.names{
  padding-top:6% ;
}


@media only screen and (max-width: 600px) {
  .container-fluid {
    color: white;
  
    background: linear-gradient(to bottom,#2f5acd 0%, #2f5acd 100%) no-repeat;
    background-size: calc(200%) calc(80%);
    background-position: top;
    
  }
  .container-fluid h1{
    font-size: 35px;
  }
  .container-fluid h5{
    font-size: 19px;
    letter-spacing: 1px;
  }
  .headerimg{
    width: 100%; 
    border-radius: 35px;
  }
  
}