<div class="container-fluid">
    <h1 class="text-center">Is it smart to invest in cryptocurrency in <br> 2021?  What you need to know</h1>
    <br>
    <h5 class="text-center padbt">Lorem ipsum dolor sit amet consectetur adipiscing elit eque ipsum odio justo amet <br> urna auctor congue vulputate au </h5>
    <img src="assets/art.jpeg" alt="" class="rounded mx-auto d-block " >
</div>


<div class="container r1">
  <div class="row">
   <div class="col-6">
    <a href="./profile">
    <div class="card mb-3" style="max-width: 300px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/profile.jpg"  alt="..." style="width: 80px; border-radius: 45px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">John Carter</h5>
            <h5 class="card-text"><small class="text-muted">November 21,2022</small></h5>
          </div>
        </div>
      </div>
    </div>
  </a>
   </div>
   <div class="col-6">
    
      <a href="/businessarticles"  >
     <button type="button"  class="btn btn-primary"><i class="bi bi-briefcase"></i><b>Business</b></button>
    </a>
   
   </div>
  </div>
</div>

<div class="container">
  <div class="card border-light mb-3" style="max-width: 52rem;">
    <div class="card-body">
      <h3 class="card-title" style=" font-family: Thicccboi, sans-serif;"><b>How to start saving money</b></h3>
      <br>
      <p class="card-text">Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Diam phasellus vestibulum lorem sed risus ultricies.
         Magna sit amet purus gravida quis blandit. Arcu cursus vitae congue mauris. Nunc mattis enim ut tellus elementum sagittis vitae et leo.
          Semper risus in hendrerit gravida rutrum quisque non. At urna condimentum mattis pellentesque id nibh tortor. 
          A erat nam at lectus urna duis convallis convallis tellus. Sit amet mauris commodo quis imperdiet massa. Vitae congue eu consequat ac felis.</p>
          <br>
          <div class="card-text">
            <ul>
              <li>Neque sodales ut etiam sit amet nisl purus. Non tellus orci ac auctor.</li>
              <li>Adipiscing elit ut aliquam purus sit amet. Viverra suspendisse potenti .</li>
              <li> Mauris commodo quis imperdiet massa tincidunt nunc pulvinar.</li>
            </ul>
          </div>
          <br><br>
          <h4 style=" font-family: Thicccboi, sans-serif;"><b>Why it is important to start saving</b></h4>
          <br>
          <p class="card-text">
            Eget aliquet nibh praesent tristique magna sit amet purus. Consequat id porta nibh venenatis cras sed felis. 
            Nisl rhoncus mattis rhoncus urna neque viverra justo nec. Habitant morbi tristique senectus et netus et malesuada fames ac.
          </p>
          <br>
          <img src="/assets/b1.jpeg" alt="" style="height: 500px; width: 900px; border-radius: 35px;" >
          <br>
          <br>
          <p class="mid"> Bibendum est ultricies integer quis. Semper eget duis at tellus.</p>
          <br><br>
          <h4 style=" font-family: Thicccboi, sans-serif;"><b>How much money should I save?</b></h4>
          <br>
          <p class="card-text">
            Eget aliquet nibh praesent tristique magna sit amet purus. Consequat id porta nibh venenatis cras sed felis.
             Nisl rhoncus mattis rhoncus urna neque viverra justo nec
          </p>
          <br>
          <div class="card-text">
            <ol>
              <li>Neque sodales ut etiam sit amet nisl purus. Non tellus orci ac auctor.</li>
            
              <li>Adipiscing elit ut aliquam purus sit amet. Viverra suspen.</li>
              
              <li>Mauris commodo quis imperdiet massa tincidunt nunc pulvina.</li>
            </ol>
          </div>
          <br>
          <h5 style=" font-family: Thicccboi, sans-serif;"><b>What percentege of my income should go to savings?</b></h5>
          <br>
          <p class="card-text">Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. 
            A lacus vestibulum sed arcu non. Turpis cursus in hac habitasse platea. Pharetra sit amet aliquam id. 
            Egestas tellus rutrum tellus pellentesque eu tincidunt tortor.
          </p>
          <div class="color">
            <h4 class="dec" style=" font-family: Thicccboi, sans-serif;">
              <b> “Lorem ipsum dolor sit amet consectetur adipiscing elit Iaculis tellus nisl id urna imperdiet diam eget. Ullamcorper feugiat diam pharetra, morbi nulla mauris.”</b>
            </h4>
          </div>
          <br><br><br>
          <h6 style=" font-family: Thicccboi, sans-serif;"><b>Do you have any comments? Share them with us on social media</b></h6>
          <br>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non leo rhoncus nullam sodales condimentum mollis.
            Nulla quis malesuada ut volutpat pellentesque. Eget magna justo, volutpat elementum.
             Ipsum et pulvinar lorem iaculis morbi at facilisi sapien.
          </p>
          <br><br>
    </div>
  </div>
</div>


<div class="mydes">

<div class="row">
  <div class="col-6">
   <a href="./profile">
   <div class="card mb-3 " style="width: 775px;">
     <div class="row g-0">
       <div class="col-md-4">
         <img src="assets/profile.jpg"  alt="..." style="width: 200px; border-radius: 1055px;">
       </div>
       <div class="col-md-8">
         <div class="card-body">
           <h5 class="card-title">John Carter</h5>
           <h5 class="card-title" style="color: rgb(34, 75, 209);">CEO & FOUNDER</h5>
           <br>
           <h5 class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit viverra fusce augue dignissim 
            quis nisl non penatibus etiam nisi nunc mauris sed id.</h5>
            
        <div class="networks">
          <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/" class="fa fa-twitter"></a>
          <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
        </div>
         </div>
       </div>
     </div>
   </div>
  </a>
</div>
</div>
<br><br><br><br>

<div class="container" >
  <div class="line"></div>
</div>
<br>
<br>


<div class="container"  >
  <div class="row">
    <div class="col col-12  col-sm-12 col-md-6 col-lg-6 col-xxl-6"><h1 class="h1left">Latest articles</h1></div>
    <div class="col col-12  col-sm-12 col-md-6 col-lg-6 col-xxl-6">
      <div class="bg">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group" class="b1">
       <a [routerLink]="['/blog']" routerLinkActive="router-link-active" >
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary left btdes" for="btnradio1">  <b> Browse all articles</b>  </label>
        </a>
      </div>
    </div>
  </div>
</div>


  