<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div *ngFor="let About of Abouts">
  <div class="img"  ></div>
<div class="">
 <div style="text-align: center;">
  <h1>{{About.fields.ourstorytitel}}</h1>
 </div>
 <div style="text-align: center; ">
  <h6>{{About.fields.ourshort}}</h6>
 </div>
 <br>
 <div style="text-align:center; ">
  <button  type="button" class="btn btn-primary" >{{About.fields.read}}</button>
</div>
</div>
<br>
<div class="ourstory"   >
  <!-- <h6 style="margin-left:10"  class="text-left" style="color: blue;" >{{About.fields.ourstorytitle2}}</h6> -->
  <div class="row text-left">
      <div class="col-md-6" >
        <h6 class="text-left" style="color: blue;" >{{About.fields.ourstorytitle2}}</h6>
          <h2 class="text-left">{{About.fields.ourstorytext}}</h2>
          <p>{{About.fields.ourstorylongtext}}</p>
      </div>
      <div class="col-md-6" style="text-align:left" >
        <img class="" src="{{About.fields.ourstoryimage.fields.file.url}}" width="70%" height="90%">
          
      </div>
  </div>

  <!-- <h6 class="text-right" style="color: blue;" >{{About.fields.mission}}</h6> -->
  <div class="row text-left" style="text-align:center"  >
      <div class="col-md-6">
        <img class="" src="{{About.fields.missionimage.fields.file.url}}" width="80%" height="90%">
          
      </div>
      <div class="col-md-6" style="text-align:left;">
        <h6 class="text-left" style="color: blue;" >{{About.fields.mission}}</h6>
        <h2 class="text-left">{{About.fields.missiontext}}</h2>
          <p>{{About.fields.missionlongtext}}</p>
      </div>
  </div>

  
</div>


<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="">
      <div style=" text-align:center; color:blue;">
        <h5>{{About.fields.teamtitle}}</h5>
      </div>
      <div style="text-align:center ;">

       <h1>{{About.fields.teamtext.a}}</h1>
       <h1>{{About.fields.teamtext.b}}</h1>

      </div>
    </div>
  </div>
  <br>
  <div >
  <div class="rowr44">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4" *ngFor="let Ourpeople of Ourpeoples">
      <div class="card" style="width: 18rem;">

          <img  src="{{Ourpeople.fields.profileimage.fields.file.url}}" class="card-img-top" alt="..." >
          <button class="btn"> <b>{{Ourpeople.fields.role}}</b></button>
          

          <div class="card-body">
            <h5 class="card-title">{{Ourpeople.fields.name}}</h5>
            <p class="card-text">{{Ourpeople.fields.description}}</p>
          </div>
        </div>
    </div> 
    
    <!-- <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">

          <img src="{{Ourpeople.fields.profileimage.fields.file.url}}" class="card-img-top" alt="snad img">
          <button class="btn"> <b>{{About.fields.teamshort1json.b}}</b></button>
          <div class="card-body">
            <h5 class="card-title">{{About.fields.teamshort1json.a}}</h5>
            <p class="card-text">{{About.fields.teamshort1json.c}}</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">

          <img src="{{About.fields.teamimage2.fields.file.url}}" class="card-img-top" alt="snad img">
          <button class="btn"> <b>{{About.fields.teamshort2json.b}}</b></button>
          <div class="card-body">
            <h5 class="card-title">{{About.fields.teamshort2json.a}}</h5>
            <p class="card-text">{{About.fields.teamshort2json.c}}</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">

          <img src="{{About.fields.teamimage3.fields.file.url}}" class="card-img-top" alt="snad img">
          <button class="btn"> <b>{{About.fields.teamshort3json.b}}</b></button>    
          <div class="card-body">
            <h5 class="card-title">{{About.fields.teamshort3json.a}}</h5>
            <p class="card-text">{{About.fields.teamshort3json.c}}</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">

          <img src="{{About.fields.teamimage4.fields.file.url}}" class="card-img-top" alt="snad img">
          <button class="btn"> <b>{{About.fields.teamshort3json.b}}</b></button>
          <div class="card-body">
            <h5 class="card-title">{{About.fields.teamshort4json.a}}</h5>
            <p class="card-text">{{About.fields.teamshort4json.c}}</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">

          <img src="{{About.fields.teamimage5.fields.file.url}}" class="card-img-top" alt="snad img">
          <button class="btn"> <b>{{About.fields.teamshort5json.b}}</b></button>
          <div class="card-body">
            <h5 class="card-title">{{About.fields.teamshort5json.a}}</h5>
            <p class="card-text">{{About.fields.teamshort5json.c}}</p>
          </div>
        </div>
    </div> 
  </div> -->
</div>
</div>
</section>
<div style="text-align:center;">
  <button  type="button" class="btn btn-primary">{{About.fields.joinourteam}}</button>
</div>
<br>

<br>
<div class="ourvalues" >
  <h5 class="header"  style="text-align:left" >{{About.fields.ourvalues}}</h5>
  
  <h2>{{About.fields.ourvaluesjson.a}} 
    <button  type="button" class="btn btn-primary">{{About.fields.joinourteam}}</button>
   </h2>
  <h2>{{About.fields.ourvalues.b}} </h2>
  <br>
  <!-- <div style="text-align:right;">
    <button  type="button" class="btn btn-primary">{{About.fields.joinourteam}}</button>
  </div> -->
  <br>
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="{{About.fields.ourjson.c}}" class="card-img-top" alt="snad img">
          <div class="card-body">
            <h5 class="card-title">{{About.fields.ourjson.a}}</h5>
            <p class="card-text">{{About.fields.ourjson.b}}</p>

          </div>
        </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="{{About.fields.ourjson1.c}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{About.fields.ourjson1.a}}</h5>
            <p class="card-text">{{About.fields.ourjson2.b}}</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="{{About.fields.ourjson2.c}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{About.fields.ourjson2.a}}</h5>
            <p class="card-text">{{About.fields.ourjson2.b}}</p>

          </div>
        </div>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="{{About.fields.ourjson3.c}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{About.fields.ourjson3.a}}</h5>
            <p class="card-text">{{About.fields.ourjson3.b}}</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="{{About.fields.ourjson4.c}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">{{About.fields.ourjson4.b}}</h5>
            <p class="card-text">{{About.fields.ourjson4.a}}</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card" style="width: 18rem;">

          <img src="{{About.fields.ourjson5.c}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">{{About.fields.ourjson5.b}}</h5>
            <p class="card-text">{{About.fields.ourjson5.a}}</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
  </div>

</div>

<br><br>
<div class="row">
<div style="text-align: center;">
  <h1>{{About.fields.numberjson.a}}</h1><br>
 </div>
 <div class="col-lg-3 col-md-4 mb-4">
  <h1>{{About.fields.numberjson.b}}<span style="color: blue">{{About.fields.numberjson.c}}</span></h1>
  <div style="text-align: center;">
  <h4>{{About.fields.numberjson.d}}</h4>
</div>
 </div>
 <div class="col-lg-3 col-md-4 mb-4">
  <h1>{{About.fields.numberjson.e}}<span style="color: blue">{{About.fields.numberjson.f}}</span></h1>
  <div style="text-align: center;">
  <h4>{{About.fields.numberjson.g}}</h4>
</div>
 </div>
 <div class="col-lg-3 col-md-4 mb-4">
  <h1>{{About.fields.numberjson.h}}<span style="color: blue">{{About.fields.numberjson.i}}</span></h1>
  <div style="text-align: center;">
  <h4>{{About.fields.numberjson.j}}</h4>
</div>
 </div>
 <div class="col-lg-3 col-md-4 mb-4">
  <h1>{{About.fields.numberjson.k}}<span style="color:blue">{{About.fields.numberjson.l}}</span></h1>
 <div style="text-align: center;">
  <h4>{{About.fields.numberjson.m}}
  </h4>
 </div>
 </div>
</div>

<br>
<br>

<div style="background-color: #2f5acd">
<div style="text-align:center ;" >
  <h1 style="color:white">{{About.fields.touchjson.a}}<br>
    {{About.fields.touchjson.b}}</h1><br>
    <button type="button" class="btn btn-primary" style="color:black;">{{About.fields.touchjson.c}}</button>
</div>
</div>
</div>


</body>
</html>










<!-- <br><br><br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
      <div class="card">
          <img src="https://media.istockphoto.com/id/1369199911/photo/portrait-of-a-handsome-young-businessman-working-in-office.jpg?s=612x612&w=0&k=20&c=fRFcgB0qERJq7Pb-3fjrYUcQr1h6wEf-nMfXftaYPyM=" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">Last updated 5 mins ago</small>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <img src="https://media.istockphoto.com/id/1369199911/photo/portrait-of-a-handsome-young-businessman-working-in-office.jpg?s=612x612&w=0&k=20&c=fRFcgB0qERJq7Pb-3fjrYUcQr1h6wEf-nMfXftaYPyM=" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">Last updated 5 mins ago</small>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <img src="https://media.istockphoto.com/id/1369199911/photo/portrait-of-a-handsome-young-businessman-working-in-office.jpg?s=612x612&w=0&k=20&c=fRFcgB0qERJq7Pb-3fjrYUcQr1h6wEf-nMfXftaYPyM=" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">Last updated 5 mins ago</small>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
          <img src="https://media.istockphoto.com/id/1369199911/photo/portrait-of-a-handsome-young-businessman-working-in-office.jpg?s=612x612&w=0&k=20&c=fRFcgB0qERJq7Pb-3fjrYUcQr1h6wEf-nMfXftaYPyM=" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">Last updated 5 mins ago</small>
          </div>
      </div>
  </div>
  <div class="col">
    <div class="card">
        <img src="https://media.istockphoto.com/id/1369199911/photo/portrait-of-a-handsome-young-businessman-working-in-office.jpg?s=612x612&w=0&k=20&c=fRFcgB0qERJq7Pb-3fjrYUcQr1h6wEf-nMfXftaYPyM=" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 5 mins ago</small>
        </div>
    </div>
</div>
<div class="col">
  <div class="card">
      <img src="https://media.istockphoto.com/id/1369199911/photo/portrait-of-a-handsome-young-businessman-working-in-office.jpg?s=612x612&w=0&k=20&c=fRFcgB0qERJq7Pb-3fjrYUcQr1h6wEf-nMfXftaYPyM=" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
      </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 5 mins ago</small>
      </div>
  </div>
</div>
</div> -->
<!-- <br><br><br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active slide-one">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5>A Fitness Wearable where technical clothing becomes a pragmatic sports buddy</h5>
            <p>Engineered a native mobile application for this innovative health and fitness wearable that focuses on Neuro Muscular Electro Stimulation(NMES). The product is the world's forst fully integrated sports smartwear which pairs the smartkins with a powerful smartphone opening up a whole new world of possibilities</p>
             <h3>58</h3>
             <h5>centers</h5>
          </div>

          <div class="col-md-6">
            <div class="img-box">
              <img src="https://media.istockphoto.com/id/1213710695/photo/crowd-from-above-forming-a-growth-graph.jpg?s=612x612&w=is&k=20&c=qMnd4c0bcVskqk5PPq0pUGpVRzRlTrT7PioDovonJn4=" class="pic-one">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item slide-two">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5>A Smart Health and Fitness Wearable where technical clothing becomes a pragmatic sports buddy
            </h5>
            <h6>Engineered a native mobile application for this innovative health and fitness <br> wearable that focuses on Neuro Muscular Electro <br>
              Stimulation(NMES). The product is the world's forst fully integrated sports <br> smartwear which pairs the smartkins with a powerful<br> smartphone opening up a whole new world of possibilities</h6>
             <h1>45%</h1>
             <h5>User Adoption</h5>
          </div>

          <div class="col-md-6">
            <div class="img-box">
              <img src="https://media.istockphoto.com/id/1174511028/photo/stack-of-hands-unity-and-teamwork-concept.jpg?s=612x612&w=is&k=20&c=TD-0YLHcCiEsrHjmNJD2v0q9SHQDIF1DmAR0Hqglxu0=" class="img-one">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" style="color:black" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->