<p>about works!</p>



<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 -->
<div *ngFor="let About of Abouts">
<div class="container"  >
 <div style="text-align: center;">
  <h1>{{About.fields.ourstorytitel}}</h1>
 </div>
 <div style="text-align: center;">
  <h6>{{About.fields.ourstorytext}}</h6>
 </div>
</div>


<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="">
      <div style="text-align:center ;">
        <h5>Our Team</h5>
      </div>
      <div style="text-align:center ;">
        <h1>Meet the amazing team behind Startuper X</h1>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="snad img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="snad img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="snad img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="snad img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="snad img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div> 
    
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="snad img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div> 
    
  </div>
</section>
<div style="text-align:center;">
  <button  type="button" class="btn btn-primary">Join our team</button>
</div>
<br>
<div class="container">
  <h5 class="header">Core Values</h5>
  
  <h2 >The values that shape everything 
    we do at Startuper X </h2>
  <br>
  <div style="text-align:right;">
    <button  type="button" class="btn btn-primary">Join our team</button>
  </div>
  <br>
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b404ea4cd082_image-1-services-startup-x-template.svg" class="card-img-top" alt="snad img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4f2ca4cd117_image-2-services-startup-x-template.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b472394cd080_image-3-services-startup-x-template.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b4cf3b4cd083_image-4-services-startup-x-template.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b44e684cd085_image-5-services-startup-x-template.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card" style="width: 18rem;">
          <img src="https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b46f7a4cd084_image-6-services-startup-x-template.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
    <!--Grid column-->
  </div>
</div>
</div>



