<!-- <app-heroimg [heros]="heroimg"></app-heroimg> -->

<div class="" data-aos="fade-up">
  <div class="our-story">
    <div style="text-align: center;" data-aos="fade-up">
      <h1 style="font-size:4vw;"><b>{{static.title}}</b></h1>
    </div><br>
    <div style="text-align: center; " data-aos="fade-up">
      <p>{{static['detailed-text']}}</p>
    </div>
  </div>
  <br>
  <div style="text-align:center; " data-aos="fade-up">
    <button type="button" (click)="scroll(target)" class="readbtn">{{static['cta-name']}}</button>
  </div>
  

  <!-- ourstory -->

  <div class="ourstory" #target>

    <div class="row ourstory-text">
      <div class="col-md-6" data-aos="fade-up">
        <div class="contact">
          <div class="smalldash"></div>
          <h6 style="margin-left:10" class="ourstorytext" style="color: blue;">{{static.title}}</h6>
        </div>
        <h1 class="ourstorytext">{{static.subtitle}}</h1>
        <p class="ourstorytext">{{static['detailed-text']}}</p>
      </div>
      <div class="col-md-6" data-aos="zoom-in">
        <br>
        <img src="{{static['big-image'].url}}" width="80%" height="90%" class="ourstoryimg">

      </div>
    </div>


    <div class="row">
      <div class="col-md-6" data-aos="zoom-in">
        <img src="{{ourmissionv['big-image'].url}}" width="80%" height="90%" class="ourmissionimg">

      </div>
      <div class="col-md-6" data-aos="fade-up">
        <div class="contact">
          <div class="smalldash"></div>
          <h6 class="ourmissiontext" style="color: blue;">{{ourmissionv.title}}</h6>
        </div>
        <h1 class="ourmissiontext1">{{ourmissionv.subtitle}}</h1>
        <p class="ourmissiontext2">{{ourmissionv['detailed-text']}}</p>
      </div>
    </div>
  </div><br><br><br>

  <!-- ourteam -->

  <div class="ourteam" data-aos="fade-up">
    <h6 style="text-align:center ;">{{ourteam.title}}</h6>
    <h1><b>{{ourteam['detailed-text']}}</b></h1>
  </div>
  <br>

  <div class="">
    <div class="row">
      <div class="col-sm-12 col-md-4 d-flex flex-row" data-aos="fade-up" *ngFor="let profile of Abouts">
        <div class="card m-3" (click)="profileid(profile._id)">
          <img src="{{profile.imageurl }}" alt="Snow" class="card-img-top" style="width:100%" />
          <div class="ourteamimg" type="button"><b>{{profile["team-job-title"]}}</b></div>
          <div class="card-body value">
            <h4 class="card-title"><b>{{profile.name}}</b></h4>
            <p class="card-text">{{profile["team-about-card-excerpt"]}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="join-our-team-bt" data-aos="fade-up">
    <a href="/careers" class="join-our-team-button">{{ourteam['cta-name']}}</a>
  </div>

  <!-- our values -->

  <div class="ourvalue">
    <div class="cards">
      <div class="row row-cols-1 row-cols-md-2 g-4">

        <!--column-->
        <div class="col ">
          <div class=" mb-3 ">
            <div class="row g-0 " data-aos="fade-up">
              <div class="contact">
                <div class="smalldash"></div>
                <h6>{{ourvalue.title}}</h6>
              </div>
              <h2 style="text-align:left">{{ourvalue['detailed-text']}}</h2>
            </div>
          </div>
        </div>
        <!--column-->
        <!--join our team button -->
        <div class="col " data-aos="fade-up">
          <div class="mb-3" style="max-width: 650px;">
            <a href="/careers" type="button" class="button jointeambtn "
              style="text-decoration: none;">{{ourvalue.subtitle}}</a>
          </div>
        </div>

        <!--column-->
       
        <div class="col " *ngFor="let our of ourvalue.refdata">
          <div class="card mb-3 cores" data-aos="fade-up">
            
            <div class="row g-0 ">
              <div class="col-md-4">
                <img src="{{our.iconimage.url}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 ">
                <div class="card-body">
                  <h5 class="card-title">{{our.shorttext}}</h5>
                  <p class="card-text">{{our.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- impactful -->

<!-- <app-impactfullnumbers [numbers]="impact"></app-impactfullnumbers> -->

<div class="row">
  <div style="text-align: center;">
       <h1>{{impact.title}}</h1><br>
  </div>
            <!-- <div class="col-lg-3 col-md-4 mb-4" *ngFor="let number of impact.refdata">
             <h1>{{impact.shorttext}}{{impact.role}}</h1>
                <div style="text-align: center;">
                  <h4>{{impact.description}}</h4>
                </div>
            </div> -->
  <div class="col-lg-3 col-md-4 mb-4" *ngFor="let imp of impact.refdata">
      <h1>{{imp.shorttext}}<span style="color: blue">{{imp.role}}</span></h1>
         <div style="text-align: center;">
            <h4>{{imp.description}}</h4>
         </div>
  </div>
    <!-- <div class="col-lg-3 col-md-4 mb-4">
       <h1>100<span style="color: blue">k</span></h1>
            <div style="text-align: center;">
                 <h4>New users per week</h4>
            </div>
    </div> -->
     <!-- <div class="col-lg-3 col-md-4 mb-4">
        <h1>55<span style="color:blue">%</span></h1>
          <div style="text-align: center;">
            <h4>Growth year-over-year </h4>
          </div>
      </div> -->
</div>

      
<!-- get in touch -->
<div class="growthbackground">
  <div style="position: relative">
    <img
      src=" https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b443b44ccfb5_shape-2-cta-2-startup-x-template.svg"
      class="dess" />
  </div>
  
  <div style="text-align:center ;" data-aos="fade-up"><br><br><br>
    <h1 style="color: white;">{{getin['detailed-text']}}</h1><br>
    <a href="/contactus" type="button" class="btn btn-light light"><b>Get in touch</b></a>
  </div>
  <div style="position: relative">
    <img
      src=" https://uploads-ssl.webflow.com/6375d4737684b479bc4ccde1/6375d4747684b443b44ccfb5_shape-2-cta-2-startup-x-template.svg"
      class="des" />
  </div>
  <div class="circle "></div>
  

</div>