/* *{
  font-family: sans-serif;
} */
.butstyl {
  position: absolute;
  top: 29px;
  right: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 6px 15px 0 rgba(30, 61, 96, 0.03);
  color: #494a4d;
  font-size: 16px;
  line-height: 1.125em;
  font-weight: 700;
}
.butstylheader{
  position: absolute;
  top: 25px;
  right: 99px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 6px 15px 0 rgba(30, 61, 96, 0.03);
  color: #292c32;
  font-size: 16px;
  line-height: 1.125em;
  font-weight: 700;
}

.zoom:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.075);
  transform: scale(1.019);
  overflow: hidden;
  border-radius: 25px;
}



/* .zoom {
  border-radius:4%;
  
}  */

.card {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
} 

.get {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #2f5acd;
  color: white;
  padding: 0 16px;
  letter-spacing: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.get:hover {
  transition: .8s;
  background-color: #6c6c6c;
}

a {
  color: black;
  text-decoration: none;
}

.latest-articles:hover,
.latest-articles:focus {
  color: rgb(46, 48, 180);
  text-decoration: none;
}

.btn {
  border-radius: 15px;
  margin-right: 15px;
  color: black;
  margin-top: 12px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-color: whitesmoke;
  text-align: center;
}

input[type="text"] {
  border: none;
  width: 600px;
  height: 80px;
  padding: 0 16px;
  border-radius: 75px;
  border-color: white;
}

.button-card {
  border-radius: 50px;
  background-color: #eaeaf6;
}

.multiple-button {
  padding-left: 30px;
}

.buttons {
  padding: 12px 25px;
  border-radius: 30px;
}

.buttons:hover {
  background-color: #2f5acd;
  color: white;
  border-color: aliceblue;
}



.header {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 66%;
  height: 500px;
  background:
  no-repeat center / cover;
  border-radius: 17px;
  margin-left: -370px;
}

.right {
  width: 50%;
  min-height: 423px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: black;
  z-index: 1;
  border-style: solid;
  border-width: thin;
  border-color: rgba(212, 208, 208, 0.904);
  border-radius: 17px;
}

@media screen and (max-width: 991px){
  .butstyl {
    top: 20px;
    right: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px){
  .butstyl,.butstylheader {
    top: 15px;
    right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  
}
@media only screen and (max-width: 600px) {

  input[type="text"] {
    width: 95%;
    height: 70px;
    margin-top: 10px;
  }



  .get {
    width: 9%;
    position: static;
    bottom: 50px;
    margin-top: 20px;  
    right: 77px;
    background-color: white ;
    color: black;
   
    border-radius: 35px;
    
    height: 70px; 
  }

  
}

@media screen and (max-width: 1226px) {

  .button-card {
    border-radius: 20px;
  }

  .col-6 {
    width: 100%;
  }

  .multiple-button {
    padding-left: 40px;
  }

  .buttons {
    padding: 8px 16px;
    border-radius: 20px;
  }

  
}

@media only screen and (max-width: 1389px) and (min-width: 900px) {

  .header {
    flex-direction: column;
    flex-direction: column-reverse;
    width: 100%;
  }

  .left {
    width: 90%;
    height: 200px;
    margin: 0;
  
    
  }

  .right {
    width: 80%;
    min-height: 300px;
    margin-top: 200px;
  }
}

@media only screen and (max-width: 600px){
  .header {
    flex-direction: column;
    flex-direction: column-reverse;
    width: 100%;
  }

  .left {
    width: 100%;
    height: 200px;
    margin: 0;
  }

  .right {
    width: 90%;
    min-height: 100px;
    margin-top: -90px;
  }
}



