<hr />
<br /><br /><br />
<h1 class="text-center topheader" style="font-size: 5opx; padding-bottom: 40px">
  <b>Articles & Resources</b>
</h1>

<div class="i1" data-aos="fade-up" data-aos-anchor-placement="top-center" (click)="readart(Blogs[0]._id)"
  style="margin: auto; width: 65%; padding-bottom: 40px">

    <div class="card i11 latest-articles">
      <img src="{{ Blogs[0].imageurl }}" class="card-img-top" alt="..." class="zoom" />

      <button class="btn" class="butstyli1">
        <b>{{Blogs[0].category}}</b>
      </button>
      <div class="card-body">
        <div class="bottom-sec">
          <h3 id="title"></h3>
          <p class="card-text" class="text-muted" id="des"></p>

          <br />
          <b>
            <p class="card-text" class="text-muted">
            {{Blogs[0].profileName}} -- {{Blogs[0].date | date}}
            </p>
          </b>
        </div>
      </div>
    </div>
  
</div>

<div class="container" data-aos="fade-up" data-aos-anchor-placement="top-center">
  <div class="row">
    <div class="col-md-6">
      <h1 style="padding-left: 30px"><b>Latest articles</b></h1>
    </div>
    <div class="col-md-6">
      <div class="card button-card" style="width: fit-content">
        <div class="multiple-button">
          <div class="d-flex flex-row flex-wrap">
            <button type="button" class="btn buttons all-button1" (click)="blogFilter()">
              <b>All</b>
            </button>
            <div *ngFor="let cat of Blogcategory">
              <button type="button" class="btn buttons all-button" (click)="blogFilter(cat)">
                <b>{{ cat }}</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 d-flex flex-row" data-aos="fade-up" data-aos-anchor-placement="top-center"
      *ngFor="let im of filteredbycategory">
      <div class="card latest-articles" (click)="readart(im._id)">
        <img src="{{ im.imageurl }}" class="card-img-top im-hv" alt="..." class="zoom" />
        <button class="btn" class="butstyl">
          <b>{{ im.category }}</b>
        </button>

        <div class="card-body">
          <h3 class="card-title">{{ im.name }}</h3>
          <br />
          <p class="card-text" class="text-muted"> {{im.profileName}} -- {{im.date | date }} </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex-container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-center" style="
    background-color: rgb(41, 91, 230);
    text-align: center;
    color: white;
    margin-top: 180px;
    padding: 150px 0;
  ">
  <div class="row">
    <div class="col-6">
      <h1 class="text-center"><b>Subscribe to our newsletter</b></h1>
      <h5>
        Lorem ipsum dolor sit amet consectetur adipiscing <br> elit sed do eiusmod
        tempor incididunt.
      </h5>
    </div>

    <div class="col-6">
      <label style="position: relative">
        <input type="text" placeholder="Enter Your Email" />
        <button class="get"><b>Get started</b></button>
      </label>
    </div>
  </div>
</div>