
h1{
  font-size: 50px;
  padding-bottom: 40px;
}

.i1 {
  margin: auto;
  width: 65%;
  padding-bottom: 40px;

}

.i11 {
  margin: auto; 
  width: 65%;
  padding-bottom: 40px;

}
 
.butstyl {
  position: absolute;
  bottom:  79%;
  left: 83%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(2, 2, 2);
  font-size: 16px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  display: inline-block;
  width: auto;
  
}

.butstyli1{
  position: absolute;
  bottom:  85%;
  left: 87%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(2, 2, 2);
  font-size: 100%;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  display: inline-block;
  width: 130px;
  height: 50px;
  position: absolute;

  
} 
.butstyl:hover,.butstyli1:hover {
  background-color: rgb(225, 223, 236);
}

.zoom:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.075); /* Safari 3-8 */
  transform: scale(1.019); 
  overflow: hidden;
  border-radius: 25px;
 

}
.zoom{
  border-radius: 25px;
}

.card{
  
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  
}

.flex-container-fluid{
  background-color: rgb(41, 91, 230);    

  text-align: center;
  color: white;
  margin-top: 180px;
  padding: 150px 0;

}


a {
  color: black;
  text-decoration: none;
}

.latest-articles:hover, .latest-articles:focus {
  color: rgb(46, 48, 180);
  text-decoration: none;
}


 input[type="text"]{
  border: none;
  width: 600px;
  height: 80px;
  padding: 0 16px;
  border-radius: 75px;
  border-color: white;
  

}
.get{
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  background-color: rgb(41, 91, 230);
  color: white;
  padding: 0 16px;
  letter-spacing: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
} 
.get:hover{
  transition: .8s;
  background-color: #6c6c6c;
}



  
@media only screen and (max-width: 1200px) {
  /* For desktop: */
  
  .col-6 {width: 100%;}
  
}
 
@media screen and (max-width: 980px) {
  div.bg {
    border-radius: 35px;
   
  }
}


.input{
  height: 70px;
  border-radius: 35px;
  width: 350px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

} 

a {
  color: black;
  text-decoration: none;
}

.latest-articles:hover, .latest-articles:focus {
  color: rgb(46, 48, 180);
  text-decoration: none;
}
 .btn{
  border-radius: 15px;
  margin-right:15px;
  color: black;
  margin-top: 12px;
  margin-bottom: 20px;
  background-color: whitesmoke;  
  border-color:whitesmoke;
  text-align: center;
  
} 

.btn:hover{
  border-color: black;
  color: black;
}

label{
  position: relative;
} 
input[type="text"]{
  border: none;
  width: 600px;
  height: 80px;
  padding: 0 16px;
  border-radius: 75px;
  border-color: white;
  

}




  
@media only screen and (max-width: 1200px) {
  /* For desktop: */
  
  .col-6 {width: 100%;}
  
}
 
@media only screen and (max-width: 600px) { 
.butstyl{
  padding: 8px 16px;
  width: fit-content;  
}
  
.butstyli1{
  padding: 6px 8px;
  width: fit-content;
  border-radius: 10px;
  font-size: medium;
  height: fit-content;
  position: absolute;
  bottom:  87%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}
  div.zoom {
    font-size: 1px;
  }

  div.zoom {
    font-size: 1px;
  }

input[type="text"]{
  border: none;
  width: 250px;
  height: 80px;
  padding: 0 16px;
  border-radius: 75px;
  border-color: white;
  

}
.topheader{
  font-size: 30px;
}

.get{
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  background-color: rgb(41, 91, 230);
  color: white;
  padding: 0 16px; 
  letter-spacing: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  width: 95px;
}
.i11 { 
  width: 100%;
  padding-bottom: 40px;
}   
}


.button-card{
  border-radius: 50px;
  background-color: #eaeaf6;

}

.multiple-button{
  text-align: center;
  float: none;
  padding-left: 30px;
 }

 
.buttons{
  padding: 12px 25px;
  border-radius: 30px;
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: #c9e3e2;
  box-shadow: 0 10px 10px 0 rgb(41 44 50 / 3%);
}

.buttons:hover{
  background-color:#2f5acd;
  color: white;
  border-color: aliceblue;
}



@media screen and (max-width: 1226px)  {
  
.button-card{
  border-radius: 20px;
  background-color: #eaeaf6;
  text-align: center;
  
    
}

.multiple-button{
  text-align: center;
  float: none;
  padding-left: 40px;
  
 }
  /* .all-button1{
    padding-left: 19px;
  } */

 
.buttons{
   padding: 8px 16px; 
  border-radius: 20px;
  background-color: white;
  color: black;
  border-style: solid;
  border-color: #c9e3e2;
  box-shadow: 0 10px 10px 0 rgb(41 44 50 / 3%);
}

.zoom{
  border-radius: 15px;
}
  
}

@media only screen and (max-width: 990px) and (min-width: 601px) {
  
.butstyl{
  padding: 6px 12px;
  width: fit-content;
  bottom:  81%;
  left: 83%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  

  
}
  
.butstyli1{
  padding: 10px 12px;
  width: fit-content;
  border-radius: 10px;
  font-size: medium;
  height: fit-content;
  position: absolute;
  bottom:  85%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}
}
 