<hr />
<br /><br /><br />
<h1 class="text-center topheader" style="font-size: 5opx; padding-bottom: 40px">
  <b>Articles & Resources</b>
</h1>


<section class="latest-articles">
  <div class="container header " data-aos="fade-up" data-aos-anchor-placement="top-center" (click)="readart(Blogs[0]._id)">
    <div class="right">
      <div class="content">
        <h1 id="title"></h1><br>
        <p class="card-text" class="text-muted" id="des">
        </p>
        <br />
        <b>
          <p class="card-text" class="text-muted">
            {{Blogs[0].profileName}} -- {{Blogs[0].date | date}}
          </p>
        </b>
      </div>
    </div>
    <div class="left">
      <img src="{{ Blogs[0].imageurl }}" class="card-img-top" alt="..." class="zoom" style="width: 106%;" />
      <button class="btn" class="butstyli1">
        <img src="{{Blogs[0].categoryicon}}" style="margin-right: 4px;" alt="">
        <b>{{Blogs[0].category}}</b>
      </button>
    </div>
  </div>
</section>

<div class="container" data-aos="fade-up" data-aos-anchor-placement="top-center">
  <div class="row">
    <div class="col-md-6">
      <h1 style="padding-left: 30px"><b>Latest articles</b></h1>
    </div>
    <div class="col-md-6">
      <div class="card button-card" style="width: fit-content; " >
        <div class="multiple-button">
          <div class="d-flex flex-row flex-wrap">
            <div>{{Blogs.icon}}</div>
            <button type="button" class="btn buttons all-button1" (click)="blogFilter()">
              <b>All</b>
            </button>
            <div *ngFor="let cat of Blogcategory">
              <button type="button" class="btn buttons all-button" (click)="blogFilter(cat)">
                <!-- <img src="{{cat.categoryicon}}"  alt="">  -->
                <b>{{ cat }}</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 d-flex flex-row" data-aos="fade-up" data-aos-anchor-placement="top-center"
      *ngFor="let im of filteredbycategory">
      <div class="card latest-articles" (click)="readart(im._id)">
        <img src="{{ im.imageurl }}" class="card-img-top im-hv" alt="..." class="zoom" />
        <button class="btn" class="butstyl">
          <img src="{{im.categoryicon}}" style="margin-right: 4px;" alt="">
          <b>{{ im.category }}</b>
        </button>

        <div class="card-body">
          <h3 class="card-title">{{ im.name }}</h3>
          <br />
          <p class="card-text" class="text-muted"> {{im.profileName}} -- {{im.date | date }} </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex-container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-center" style="
    background-color: #2f5acd;
    text-align: center;
    color: white;
    margin-top: 10%;
    padding: 150px 0;
  ">
  <div class="row">
    <div class="col-6">
      <h1 class="text-center"><b>Subscribe to our newsletter</b></h1>
      <h5>
        Lorem ipsum dolor sit amet consectetur adipiscing <br> elit sed do eiusmod
        tempor incididunt.
      </h5>
    </div>

    <div class="col-6">
      <label style="position: relative">
        <input type="text" placeholder="Enter Your Email" />
        <button class="get"><b>Get started</b></button>
      </label>
    </div>
  </div>
</div>

