<h1 class="text-center">Articles & Resources</h1>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card c  "  style="width: 35rem;">
          <div class="top-sec ">
            <img src="assets/b1.jpeg ">
            <button class="btn"> <b>Button</b></button>
          </div>
          <div class="bottom-sec">
            <h3>Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
            <p class="card-text" class="text-muted">Lorem ipsum dolor sit amet consectetur adipiscing elit eque ipsum odio justo amet urna auctor congue vulputate au.</p>
            
                  <br>
                  <b><p class="card-text" class="text-muted">John Carter   -- may 14,2022</p></b>
           </div>
  
          
       </div>
      </div>
    <div class="col-4">
  
      </div>
    </div>
  
  </div>

  <br>
  <br>

  

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card" style="width: 32rem;">
                <img src="assets/bt5.jpeg" class="card-img-top" alt="...">
                <button class="btn"> <b>Button</b></button>
                <div class="card-body">
                  <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                  <br>
                  <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
                  
                </div>
              </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card" style="width: 32rem;">
                <img src="assets/bt4.jpeg" class="card-img-top" alt="...">
                <button class="btn"> <b>Button</b></button>
                <div class="card-body">
                    <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                    <br>
                    <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
                </div>
              </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card" style="width: 32rem;">
                <img src="assets/bt3.jpeg" class="card-img-top" alt="...">
                <button class="btn"> <b>Button</b></button>
                <div class="card-body">
                    <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                    <br>
                    <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
                </div>
              </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card" style="width: 32rem;">
                <img src="assets/bt2.jpeg" class="card-img-top" alt="...">
                <button class="btn"> <b>Button</b></button>
                <div class="card-body">
                    <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                    <br>
                    <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
                </div>
              </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card" style="width: 32rem;">
                <img src="assets/bt1.jpeg" class="card-img-top" alt="...">
                <button class="btn"> <b>Button</b></button>
                <div class="card-body">
                    <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                    <br>
                    <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
                    
                </div>
              </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="card" style="width: 32rem;">
                <img src="assets/b1.jpeg" class="card-img-top" alt="...">
                <button class="btn"> <b>Button</b></button>
                <div class="card-body">
                    <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                    <br>
                    <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
                    
                </div>
              </div>
        </div>
    </div>
</div>
  