.line{

    background-color: rgba(126, 114, 114, 0.911);
    height: 1px;
    
  
  }
  
.btn{
    border-radius: 15px;
    margin-right:30px;
    color: black;
    background-color: whitesmoke;  
    border-color:whitesmoke;
    text-align: center;
    
  }
  
.bg{
    padding : 20px;
    background-color: rgb(225, 223, 236);
    border-radius: 25px;
    text-align: center;
  }
  .container{
    margin-top: 40px;
  }
  
.card{
  
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    
  }
  
.i2{
    padding-top: 65px;
    margin: auto;
    width: 65%;
  }
  
.zoom:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.075); /* Safari 3-8 */
    transform: scale(1.019); 
    overflow: hidden;
    border-radius: 25px;
   
  
  }
  .zoom{
    border-radius: 25px;
  }
  
a {
    color: black;
    text-decoration: none;
  }
  
  a:hover, a:focus {
    color: rgb(46, 48, 180);
    text-decoration: none;
  }
  
.butstyl {
    position: absolute;
    bottom:  79%;
    left: 83%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: rgb(2, 2, 2);
    font-size: 16px;
    padding: 12px 32px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
    width: auto;
    
  }
  
  .btclr{
    background-color: rgb(41, 91, 230);
  }
  