
<div class="container" data-aos="fade-up" data-aos-anchor="#example-anchor" data-aos-offset="500"
data-aos-duration="500">
<div class="contact" data-aos="fade-up">

  <div class="smalldash " style="margin-top:40px; background-color: red;" ></div>

  <div class="us"   style="margin-top:40px; color: #2f5acd; font-size: 17px;">{{service.subtitle}}</div>

</div>
<h1 data-aos="fade-up"><b>{{service.title}} </b></h1>
<div class="row row-cols-1 row-cols-md-2 g-4 core">

  <!--column-->
  
  <div class="col" data-aos="fade-up" *ngFor="let cards of service.subServices " >
    <div class="card mb-3 perk"  >
      <div class="row g-0">
        <!-- image -->
        <div class="col-md-4">
          <img src="{{cards.imageurl }} ">
           </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{cards.name}}</h5>
            <p class="card-text">{{cards.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  

</div>
</div>