<div class="container">
  <div class="row">
    <div
      class="col d-flex flex-row justify-content-between align-items-center mt-5 mb-5"
    >
      <div><h1>Latest articles</h1></div>
      <div>
        <button class="view" >View More</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div><img src="./assets/art.jpeg" class="imgs" /></div>
      <div class="p-2 mt-3 mb-4">
        <h3>
          is it smart to invest in cryptocurency in 2021? what you need to kone
        </h3>
      </div>
      <div></div>
    </div>
    <div class="col-md-4">
      <div>
        <img src="./assets/art.jpeg" class="imgs" />
      </div>
      <div class="p-2 mt-3 mb-4">
        <h3>
          is it smart to invest in cryptocurency in 2021? what you need to kone
        </h3>
      </div>
      <div></div>
    </div>
    <div class="col-md-4">
      <div><img src="./assets/art.jpeg" class="imgs" /></div>
      <div class="p-2 mt-3 mb-4">
        <h3>
          is it smart to invest in cryptocurency in 2021? what you need to kone
        </h3>
      </div>
      <div></div>
    </div>
  </div>
</div> -->

<div class="container" >
  <div class="row row-cols-1 row-cols-md-3 g-5" >
    <div class="col" *ngFor="let lat of latest">
      <div class="card" style="border: none">
        <img
          src="{{lat.imageurl}}"
          class="card-img-top"
          alt="..."
          class="imgs"
        />
        <div class="card-body mt-2" style="padding-left: 0">
          <h4 style="line-height: 1.5">
            {{lat.name}}
          </h4>
          <div class="d-flex align-items-start justify-content-between mt-3">
            <div class="d-flex">
              <!-- <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="currentColor"
                class="bi bi-briefcase m-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"
                />
              </svg> -->
              <h5 style="line-height: 1.4">
                <img src="{{lat.categoryicon}}">
                {{lat.category}}___{{lat.date | date}}</h5>
            </div>
            <div>
              <h5 style="line-height: 1.4"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="card" style="border: none">
        <img
          src="./assets/bt1.jpeg"
          class="card-img-top"
          alt="..."
          class="imgs"
        />
        <div class="card-body mt-2" style="padding-left: 0">
          <h4 style="line-height: 1.5">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </h4>
          <div class="d-flex align-items-start justify-content-between mt-3">
            <div class="d-flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="currentColor"
                class="bi bi-briefcase m-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"
                />
              </svg>
              <h5 style="line-height: 1.4">Business</h5>
            </div>
            <div>
              <h5 style="line-height: 1.4">December 21,2022</h5>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col">
      <div class="card" style="border: none">
        <img
          src="./assets/bt2.jpeg"
          class="card-img-top"
          alt="..."
          class="imgs"
        />
        <div class="card-body mt-2" style="padding-left: 0">
          <h4 style="line-height: 1.5">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </h4>
          <div class="d-flex align-items-start justify-content-between mt-3">
            <div class="d-flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="currentColor"
                class="bi bi-briefcase m-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"
                />
              </svg>
              <h5 style="line-height: 1.4">Business</h5>
            </div>
            <div>
              <h5 style="line-height: 1.4">December 21,2022</h5>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
