<div>
    <a routerLink="/businessapplication"><h1 >Business Application Development</h1></a>
    <a routerLink="/managedinfrastructure"><h1 >Managed Infrastructure Services</h1></a>
    <a routerLink="/databasemanagement"><h1 >Database Management Services</h1></a>
    <a routerLink="/cloudtransformation"><h1 >Cloud Transformation Services</h1></a>
    <a routerLink="/manageditservices"><h1 >Managed IT Services</h1></a>
    <a routerLink="/migrationstabilization"><h1 >Migration and Stabilization Services</h1></a>
    <a routerLink="/digitaltransformation"><h1 >Digital Transformation</h1></a>

</div>
