
  <div class="i2" >
    <div class="row row-cols-1 row-cols-md-2 g-4" >
      <div class="col"  *ngFor="let blogs of blog">
          <div class="card" *ngIf="blogs;else condition">
            <img src="{{blogs.imageurl}}">
            <button class="btn" class="butstyl">
              <img src="{{blogs.categoryicon}}" class="card-img-top" alt="..." class="zoom">
               <b>{{blogs.category}}</b></button>

            <div class="card-body">
              <h3 class="card-title">{{blogs.name}}</h3>
              <br>
              <p class="card-text" class="text-muted">{{blogs.profileName}} -- {{blogs.date | date }}</p>
            </div>
      
          </div>
          
      
      </div>
      <br>
      <ng-template #condition>
          <div class="row">
            <div class="col-md-12">
              <div class="card no-articles">No items found.</div>
            </div>
          </div>
        </ng-template>
    </div>


    <!-- <div class="col"   >
        <a href="./readarticle">
        <div class="card" >
          <img src="assets/b1.jpeg" class="card-img-top" alt="..." class="zoom" >
          <button class="btn" class="butstyl"> <b>Management</b></button>
  
          <div class="card-body">
            <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                <br>
                <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
          </div>
        </div>
      </a>
      </div>
   </div>   -->