
  
<div class="i2">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col"  >
          <a href="./readarticle">
           <div class="card" >
            <img src="assets/bt4.jpeg" class="card-img-top" alt="..." class="zoom">
            <button class="btn" class="butstyl"> <b>Business</b></button>
    
            <div class="card-body">
              <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                  <br>
                  <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
            </div>
           </div>
        </a>
        </div>
      
  
     
      <div class="col"   >
        <a href="./readarticle">
        <div class="card" >
          <img src="assets/b1.jpeg" class="card-img-top" alt="..." class="zoom" >
          <button class="btn" class="butstyl"> <b>Management</b></button>
  
          <div class="card-body">
            <h3 class="card-title">Is it smart to invest in cryptocurrency in 2021? What you need to know</h3>
                <br>
                <p class="card-text" class="text-muted">John Carter   -- may 14,2022</p>
          </div>
        </div>
      </a>
      </div>
   </div>  


  