<div class="row">
    <div class="col-md-6  image-div" style="background-color: blue;">
        <div class="business">
            <h1><b>{{serviceDetails.name}}</b></h1>
            <br>
            <p>
                <!-- Our mission at SNAD Developers is to provide innovative, cutting-edge solutions to our clients that help
                them stay ahead of the competition. We are dedicated to providing the best possible service and customer
                experience. -->
                {{serviceDetails.description}}
            </p>
            <br>
            <br>
            <div [routerLink]="['/contactus']" routerLinkActive="router-link-active">
                <button type="button" class="btn btn-primary get-in-touch"><b>{{sub['cta-name']}}</b></button>
            </div>
        </div>
    </div>
    <div class="col-md-6  colour-div">
        <img src="{{serviceDetails['header-image'].url}}">
    </div>
</div>



<div class="container sub-service">
    <div class="row">
        <div class="col-md-8">
            <div class="sub-service header">
                <h1>{{sub.title}}</h1>
                <h3>{{sub.subtitle}}</h3>
            </div>
        </div>
        <div class="col-md-4" [routerLink]="['/contactus']" routerLinkActive="router-link-active">
            <button type="button" class="btn btn-primary get-in-touch"
                style="float: right;"><b>{{sub['cta-name']}}</b></button>
        </div>
    </div>
    <div>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-md-2 g-4 ">
            <div class="row g-4" *ngFor="let sub of subServices">
                <div class="col-md-10">
                    <div class="card">
                        <img src="{{sub['icon-image'].url}}" class="card-img-top" alt="...">

                        <div class="card-body">
                            <h3>{{sub.name}}</h3>
                            <p class="card-text">{{sub.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- <div class="col-md-6">
            <div class="card">
                <img src="https://uploads-ssl.webflow.com/6375d4747684b438e84ccf70/637b5d778c7bd8e6e5f887d8_6375d4747684b4d2354cd05f_icon-1-home-v3-features-startup-x-template.svg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
       



        <div class="col-md-6">
            <div class="card">
                <img src="https://uploads-ssl.webflow.com/6375d4747684b438e84ccf70/637b5d778c7bd8e6e5f887d8_6375d4747684b4d2354cd05f_icon-1-home-v3-features-startup-x-template.svg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> -->
        </div>
    </div>



    <!--impactful numbers-->

    <!-- <div class="impact-ful">
    <br>
    <br>
    <br>
    <br>
    <div class="growth">
        <h1 style="text-align: center;">We have impactful numbers</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3" style="text-align: center;">
                <h1>98<span>%</span></h1>
                <h4>customer satisfaction</h4>
            </div>
            <div class="col-md-3" style="text-align: center;">
                <h1>205<span>M</span></h1>
                <h4>Monthly active users</h4>
            </div>

            <div class="col-md-3" style="text-align: center;">
                <h1>100<span>k</span></h1>
                <h4>New users per week</h4>
            </div> 

            <div class="col-md-3" style="text-align: center;">
                <h1>55<span>%</span></h1>
                <h4>Growth year-over-year</h4>
            </div>



        </div>

    </div>

    <br>

    <br>

    <br>

    <br>

</div> -->


    <app-impactfullnumbers [numbers]="impact"></app-impactfullnumbers>


    <br>


    <br>

    <!--case studies-->

    <div class="casestudies">
        <h6 style="text-align:center">{{casestatic.title}}</h6>
        <h2 style="text-align:center">{{casestatic.subtitle}}</h2>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" *ngFor="let case of casestudies">
            <div class="carousel-item active slide-one">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>{{case.name}}</h5>
                            <p>{{case.description }}</p>
                            <h3>{{case.numbers}}</h3>
                            <h5>{{case['sub-text-for-number']}}</h5>
                        </div>

                        <div class="col-md-6">
                            <div class="img-box"> <img src={{case.image.url}} class="pic-one">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="carousel-item slide-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>A Smart Health and Fitness Wearable where technical clothing becomes a pragmatic sports buddy </h5>
                        <h6>Engineered a native mobile application for this innovative health and fitness <br> wearable
                            that focuses on Neuro Muscular Electro <br> Stimulation(NMES). The product is the world's forst fully
                            integrated sports <br> smartwear which pairs the smartkins with a powerful<br> smartphone opening up a whole
                            new world of possibilities
                        </h6>
                        <h1>45%</h1>
                        <h5>User Adoption</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="img-box">
                            <img src="https://media.istockphoto.com/id/1174511028/photo/stack-of-hands-unity-and-teamwork-concept.jpg?s=612x612&w=is&k=20&c=TD-0YLHcCiEsrHjmNJD2v0q9SHQDIF1DmAR0Hqglxu0="
                                class="img-one">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        </div>

        <button class="carousel-control-prev" type="button" style="color:black"
            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    <!-- get-in-touch -->


    <div class="get-in-touch-cta">
        <br> <br> <br>
        <h1 style="color: white;"><b>{{getin.title}}</b></h1>
        <br>
        <!-- <button type="button" class="btn btn-primary get-in-touch"><b>Get in Touch</b></button> -->
        <app-getintouch [getintouch]="getin"></app-getintouch>
        <br><br> <br>
    </div>



    <app-latestarticles></app-latestarticles>